lib/edi/idele/xsd/InventaireMouvementsCategoriesCheptelBovin-V1.0.0.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- auteur : O. Texier (arsoe de bretagne) -->
<xsd:schema xmlns="http://www.inst-elevage.asso.fr/XML/Schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:CODEPAYS="urn:fr:agri:elevage:codelist:CodePays:1" xmlns:REGISTRATIONIDENTIFIANTTYPE="urn:fr:agri:elevage:codelist:RegistrationIdentifiantType:1" xmlns:TYPESERVICEDEMANDE="urn:fr:agri:elevage:codelist:TypeServiceDemande:1" xmlns:CATEGORIEBOVIN="urn:fr:agri:elevage:codelist:CategorieBovin:1" xmlns:CODESEXE="urn:fr:agri:elevage:codelist:CodeSexe:1" xmlns:CODEANOMALIE="urn:fr:agri:elevage:codelist:CodeAnomalie:1" xmlns:CODETYPEANOMALIE="urn:fr:agri:elevage:codelist:CodeTypeAnomalie:1" xmlns:CAUSESORTIE="urn:fr:agri:elevage:codelist:CauseSortie:1" xmlns:CAUSEENTREE="urn:fr:agri:elevage:codelist:CauseEntree:1" targetNamespace="http://www.inst-elevage.asso.fr/XML/Schema" version="1.0.0">
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodePays:1" schemaLocation="CodePays.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:RegistrationIdentifiantType:1" schemaLocation="RegistrationIdentifiantType.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:TypeServiceDemande:1" schemaLocation="TypeServiceDemande.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CategorieBovin:1" schemaLocation="CategorieBovin.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeSexe:1" schemaLocation="CodeSexe.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeAnomalie:1" schemaLocation="CodeAnomalie.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeTypeAnomalie:1" schemaLocation="CodeTypeAnomalie.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CauseSortie:1" schemaLocation="CauseSortie.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CauseEntree:1" schemaLocation="CauseEntree.XSD"/>
	<!-- types techniques definis dans ce schema debut -->
	<xsd:simpleType name="Libelle100">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle20">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle12">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre5Chiffres">
		<xsd:restriction base="xsd:long">
			<xsd:maxInclusive value="99999"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- types techniques definis dans ce schema - fin -->
	<!-- types metier definis dans ce schema - debut -->
	<!-- types metier non specifiques a ce message, qui pourraient etre definis dans un fichier externe - debut -->
	<xsd:complexType name="Immatriculation" mixed="false">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Immatriculation]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Identifiant" type="Libelle20">
				<xsd:annotation>
					<xsd:documentation><![CDATA[numero identifiant]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TypeIdentifiant" type="REGISTRATIONIDENTIFIANTTYPE:RegistrationIdentifiantTypeType">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Type identifiant]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="RegistrationIdentifier">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Registration" mixed="false">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Immatriculation]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Identifier" type="RegistrationIdentifier">
				<xsd:annotation>
					<xsd:documentation><![CDATA[numero identifiant]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IdentifierType" type="REGISTRATIONIDENTIFIANTTYPE:RegistrationIdentifiantTypeType">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Type identifiant]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Party" mixed="false">
		<xsd:sequence>
			<xsd:element name="Registration" type="Registration"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentGIEA" mixed="false">
		<xsd:sequence>
			<xsd:element name="Owner" type="Party">
				<xsd:annotation>
					<xsd:documentation><![CDATA[celui qui recoit le document]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Issuer" type="Party">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Celui qui emet le document]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Identification" type="Libelle100"/>
			<xsd:element name="Name" type="Libelle12" default="INVCATBOVINS"/>
			<xsd:element name="Creation" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation><![CDATA[date et heure de creation du document]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LineCount" type="Nombre5Chiffres">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Nombre de blocs fonctionnels dans le message]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EnTest" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Urgent" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="DocumentOrigine" type="Libelle100" minOccurs="0"/>
			<xsd:element name="FichierRejete" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="NbEvtErreur" type="Nombre5Chiffres" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Nombre de blocs fonctionnels en erreur dans le message]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Organisation" mixed="false">
		<xsd:sequence>
			<xsd:element name="Immatriculation" type="Immatriculation" maxOccurs="unbounded"/>
			<xsd:element name="NomOrganisation" type="Libelle100" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Anomalie" mixed="false">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Anomalie]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CodeAnomalie" type="CODEANOMALIE:TypeCodeAnomalie"/>
			<xsd:element name="TypeAnomalie" type="CODETYPEANOMALIE:TypeCodeTypeAnomalie"/>
			<xsd:element name="LibelleAnomalie" type="Libelle100"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Validation" mixed="false">
		<xsd:sequence>
			<xsd:element name="Anomalie" type="Anomalie" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Qualification" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- types metier non specifiques a ce message, qui pourraient etre definis dans un fichier externe - fin -->
	<!-- types metier specifiques a ce message - debut -->
	<xsd:simpleType name="CodeActionEvenement">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DEM"/>
			<xsd:enumeration value="INF"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ServiceDemande" mixed="false">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Service demande]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Identifiant" type="Libelle20"/>
			<xsd:element name="Commentaire" type="Libelle100" minOccurs="0"/>
			<xsd:element name="Validation" type="Validation" minOccurs="0"/>
			<xsd:element name="CodeAction" type="CodeActionEvenement"/>
			<xsd:element name="Createur" type="Organisation"/>
			<xsd:element name="Destinataire" type="Organisation"/>
			<xsd:element name="TypeService" type="TYPESERVICEDEMANDE:TypeServiceDemandeType"/>
			<xsd:element name="ExploitationElevage" type="ExploitationElevage"/>
			<xsd:element name="Periode" type="Periode"/>
			<xsd:element name="Bovin" type="Bovin" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="NumeroIdentificationNational">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ExploitationElevage" mixed="false">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Exploitation elevage ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Immatriculation" type="Immatriculation"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Periode" mixed="false">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Periode]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="Libelle100" minOccurs="0"/>
			<xsd:element name="Debut" type="xsd:date"/>
			<xsd:element name="Fin" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PeriodeCategorie" mixed="false">
		<xsd:sequence>
			<xsd:element name="Periode" type="Periode"/>
			<xsd:element name="CategorieBovin" type="CATEGORIEBOVIN:CategorieBovinType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="CauseEtDateSortie">
		<xsd:sequence>
			<xsd:element name="Fin" type="xsd:date"/>
			<xsd:element name="CauseSortie" type="CAUSESORTIE:CauseSortieType"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="PeriodePresenceBovinExploitation" mixed="false">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Periode de presence du bovin dans l'exploitation.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="Libelle100" minOccurs="0"/>
			<xsd:element name="Debut" type="xsd:date"/>
			<xsd:element name="CauseEntree" type="CAUSEENTREE:CauseEntreeType"/>
			<xsd:group ref="CauseEtDateSortie" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ImmatriculationBovine" mixed="false">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Definit de maniere unique un Bovin. Il s'agit d'un identifiant]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CodePaysAnimal" type="CODEPAYS:TypeCodePays">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Code pays du bovin]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumeroIdentificationNational" type="NumeroIdentificationNational">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Numero officiel du bovin]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Bovin" mixed="false">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Bovin]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Immatriculation bovine debu -->
			<xsd:element name="ImmatriculationBovine" type="ImmatriculationBovine"/>
			<!-- Immatriculation bovine fin -->
			<!-- attributs bovin debut -->
			<xsd:element name="Sexe" type="CODESEXE:CodeSexeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Sexe]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Nom" type="Libelle20" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Nom du bovin]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DateDeNaissance" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Date de naissance]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- attributs bovin fin -->
			<!-- periodes de presence du bovin debut -->
			<xsd:element name="PeriodePresenceBovinExploitation" type="PeriodePresenceBovinExploitation" minOccurs="0" maxOccurs="unbounded"/>
			<!-- periodes de presence du bovin fin -->
			<!-- periodes d'appartenance du bovin a des categories debut -->
			<xsd:element name="PeriodeCategorie" type="PeriodeCategorie" minOccurs="0" maxOccurs="unbounded"/>
			<!-- periodes d'appartenance du bovin a des categories fin -->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InventaireMouvementsCategoriesCheptelBovin" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="DocumentGIEA">
				<xsd:sequence>
					<xsd:element name="ServiceDemande" type="ServiceDemande" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- types metier specifiques a ce message - fin-->
	<!-- types metier definis dans ce schema - fin -->
	<!-- elements contenus dans une instance de ce schema - debut -->
	<xsd:element name="InventaireMouvementsCategoriesCheptelBovin" type="InventaireMouvementsCategoriesCheptelBovin"/>
	<!-- elements contenus dans une instance de ce schema - fin -->
</xsd:schema>
