lib/edi/idele/xsd/IpBNotif_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xsd:schema [
		<!ELEMENT xsd:schema (xsd:import|xsd:element|xsd:simpleType|xsd:complexType)*>
		<!ATTLIST xsd:schema
				xmlns:xsd CDATA #REQUIRED
				xmlns:tns CDATA #REQUIRED
				xmlns:tnsfiea CDATA #REQUIRED
				xmlns:ns1 CDATA #REQUIRED
				xmlns:ns2 CDATA #REQUIRED
				xmlns:ns3 CDATA #REQUIRED
				xmlns:ns4 CDATA #REQUIRED
				xmlns:ns5 CDATA #REQUIRED
				xmlns:ns6 CDATA #REQUIRED
				xmlns:ns7 CDATA #REQUIRED
				xmlns:ns8 CDATA #REQUIRED
				xmlns:ns9 CDATA #REQUIRED
				xmlns:ns10 CDATA #REQUIRED
				xmlns:ns11 CDATA #REQUIRED
				targetNamespace CDATA #REQUIRED
				elementFormDefault CDATA #REQUIRED>
		<!ELEMENT xsd:import (#PCDATA)>
		<!ATTLIST xsd:import
				namespace CDATA #REQUIRED
				schemaLocation CDATA #REQUIRED>
		<!ELEMENT xsd:element (xsd:complexType|xsd:simpleType|xsd:annotation)*>
		<!ATTLIST xsd:element
				maxOccurs CDATA #IMPLIED
				minOccurs CDATA #IMPLIED
				name CDATA #REQUIRED
				type CDATA #IMPLIED>
		<!ELEMENT xsd:complexType (xsd:sequence|xsd:choice|xsd:complexContent|xsd:annotation)*>
		<!ATTLIST xsd:complexType
				name CDATA #IMPLIED>
		<!ELEMENT xsd:sequence (xsd:element)*>
		<!ELEMENT xsd:simpleType (xsd:restriction|xsd:annotation)*>
		<!ATTLIST xsd:simpleType
				name CDATA #IMPLIED>
		<!ELEMENT xsd:restriction (xsd:length|xsd:minInclusive|xsd:maxInclusive|xsd:enumeration|xsd:maxLength|xsd:pattern)*>
		<!ATTLIST xsd:restriction
				base CDATA #REQUIRED>
		<!ELEMENT xsd:length (#PCDATA)>
		<!ATTLIST xsd:length
				fixed CDATA #IMPLIED
				value CDATA #REQUIRED>
		<!ELEMENT xsd:choice (xsd:element)*>
		<!ELEMENT xsd:annotation (xsd:documentation)*>
		<!ELEMENT xsd:documentation (#PCDATA)>
		<!ELEMENT xsd:minInclusive (#PCDATA)>
		<!ATTLIST xsd:minInclusive
				value CDATA #REQUIRED>
		<!ELEMENT xsd:maxInclusive (#PCDATA)>
		<!ATTLIST xsd:maxInclusive
				value CDATA #REQUIRED>
		<!ELEMENT xsd:complexContent (xsd:extension)*>
		<!ELEMENT xsd:extension (#PCDATA)>
		<!ATTLIST xsd:extension
				base CDATA #REQUIRED>
		<!ELEMENT xsd:enumeration (#PCDATA)>
		<!ATTLIST xsd:enumeration
				value CDATA #REQUIRED>
		<!ELEMENT xsd:maxLength (#PCDATA)>
		<!ATTLIST xsd:maxLength
				fixed CDATA #IMPLIED
				value CDATA #REQUIRED>
		<!ELEMENT xsd:pattern (#PCDATA)>
		<!ATTLIST xsd:pattern
				value CDATA #REQUIRED>
		]>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.idele.fr/XML/Schema/" xmlns:tnsfiea="http://www.fiea.org/types/" xmlns:ns1="urn:fr:agri:elevage:codelist:CodePays:1" xmlns:ns2="urn:fr:agri:elevage:codelist:CodeRaceBovin:1" xmlns:ns3="urn:fr:agri:elevage:codelist:CodeCauseEntree:1" xmlns:ns4="urn:fr:agri:elevage:codelist:CodeCauseSortie:1" xmlns:ns5="urn:fr:agri:elevage:codelist:CodeCategorieBovinIPG:1" xmlns:ns6="urn:fr:agri:elevage:codelist:CodeAtelierBovinIPG:1" xmlns:ns7="urn:fr:agri:elevage:codelist:AtelierBovinIPG:1" xmlns:ns8="urn:fr:agri:elevage:codelist:CategorieBovinIPG:1" xmlns:ns9="urn:fr:agri:elevage:codelist:CauseEntree:1" xmlns:ns10="urn:fr:agri:elevage:codelist:CauseSortie:1" xmlns:ns11="urn:fr:agri:elevage:codelist:CodePaysAnimal:1" targetNamespace="http://www.idele.fr/XML/Schema/" elementFormDefault="qualified">
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodePaysAnimal:1" schemaLocation="CodePaysAnimal.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodePays:1" schemaLocation="CodePays.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CauseSortie:1" schemaLocation="CauseSortie.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CauseEntree:1" schemaLocation="CauseEntree.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CategorieBovinIPG:1" schemaLocation="CategorieBovinIPG.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:AtelierBovinIPG:1" schemaLocation="AtelierBovinIPG.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeRaceBovin:1" schemaLocation="CodeRaceBovin.XSD"/>
	<xsd:import namespace="http://www.fiea.org/types/" schemaLocation="fiea_types.xsd"/>
	<!--
######  Opération IpBCreateEntree  ######-->
	<xsd:element name="IpBCreateEntreeRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
				<xsd:element name="Exploitation" type="tns:typeExploitationFrancaisePK"/>
				<xsd:element name="Bovin" type="tns:typeBovinPK"/>
				<xsd:element name="DateEntree" type="xsd:date"/>
				<xsd:element name="CauseEntree" type="ns9:CauseEntreeType"/>
				<xsd:element name="ExploitationProvenance" type="tns:typeExploitationAcheteurVendeur"/>
				<xsd:element name="CodeAtelier" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="ns7:AtelierBovinIPGType">
							<xsd:length value="2" fixed="true"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="CodeCategorieBovin" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="ns8:CategorieBovinIPGType">
							<xsd:length value="2" fixed="true"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpBCreateEntreeResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
				<xsd:element name="ReponseSpecifique" minOccurs="0">
					<xsd:complexType>
						<xsd:choice>
							<xsd:element name="AttenteValidationBDNi" type="xsd:boolean"/>
							<xsd:element name="EntreeValidee">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="IdentiteBovin" type="tns:typeIdentiteBovin"/>
										<xsd:element name="MouvementEntreeBovin" type="tns:typeMouvementEntree"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Opération IpBGetInventaire  ######-->
	<xsd:element name="IpBGetInventaireRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
				<xsd:element name="Exploitation" type="tns:typeExploitationFrancaisePK"/>
				<xsd:element name="DateDebut" type="xsd:date"/>
				<xsd:element name="DateFin" type="xsd:date" minOccurs="0"/>
				<xsd:element name="StockBoucles" type="xsd:boolean"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpBGetInventaireResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
				<xsd:element name="ReponseSpecifique" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NbBovins" type="xsd:unsignedInt"/>
							<xsd:element name="MessageZip" type="xsd:base64Binary" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Retourne un fichier XML zippé de type MessageIpBNotifGetInventaire</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Opération IpBCreateSortie  ######-->
	<xsd:element name="IpBCreateSortieRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
				<xsd:element name="Exploitation" type="tns:typeExploitationFrancaisePK"/>
				<xsd:element name="Bovin" type="tns:typeBovinPK"/>
				<xsd:element name="DateSortie" type="xsd:date"/>
				<xsd:element name="CauseSortie" type="ns10:CauseSortieType"/>
				<xsd:element name="ExploitationDestination" type="tns:typeExploitationAcheteurVendeur"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpBCreateSortieResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
				<xsd:element name="ReponseSpecifique" minOccurs="0">
					<xsd:complexType>
						<xsd:choice>
							<xsd:element name="AttenteValidationBDNi" type="xsd:boolean"/>
							<xsd:element name="SortieValidee">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="IdentiteBovin" type="tns:typeIdentiteBovin"/>
										<xsd:element name="MouvementBovin">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="MouvementEntreeBovin" type="tns:typeMouvementEntree"/>
													<xsd:element name="MouvementSortieBovin" type="tns:typeMouvementSortie"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Opération IpBCreateNaissance  ######-->
	<xsd:element name="IpBCreateNaissanceRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
				<xsd:element name="ExploitationNaissance" type="tns:typeExploitationFrancaisePK"/>
				<xsd:element name="Bovin" type="tns:typeBovinFrancaisPK"/>
				<xsd:element name="Sexe" type="tns:typeSexe"/>
				<xsd:element name="TypeRacial" type="ns2:TypeCodeRaceBovin"/>
				<xsd:element name="DateNaissance" type="xsd:date"/>
				<xsd:element name="NumeroTravail" type="tns:typeNumeroTravail"/>
				<xsd:element name="NomBovin" type="tns:typeNomBovin" minOccurs="0"/>
				<xsd:element name="Filiation" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TransplantationEmbryonnaire" type="xsd:boolean"/>
							<xsd:element name="Avortement" type="xsd:boolean"/>
							<xsd:element name="Jumeau" type="xsd:boolean"/>
							<xsd:element name="ConditionNaissance" type="tns:typeConditionNaissance" minOccurs="0"/>
							<xsd:element name="Poids" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="PoidsNaissance" type="tns:typePoidsNaissance"/>
										<xsd:element name="PoidsPese" type="xsd:boolean" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TourPoitrine" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:unsignedInt">
										<xsd:minInclusive value="1"/>
										<xsd:maxInclusive value="999"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MerePorteuse">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Bovin" type="tns:typeBovinPK"/>
							<xsd:element name="TypeRacial" type="ns2:TypeCodeRaceBovin"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PereIPG">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Bovin" type="tns:typeBovinEtrangerPK" minOccurs="0"/>
							<xsd:element name="TypeRacial" type="ns2:TypeCodeRaceBovin"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DemandePasseport" type="xsd:boolean" minOccurs="0"/>
				<xsd:element name="CodeAtelier" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="ns7:AtelierBovinIPGType">
							<xsd:length value="2" fixed="true"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpBCreateNaissanceResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
				<xsd:element name="ReponseSpecifique" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="IdentiteBovin" type="tns:typeIdentiteBovin"/>
							<xsd:element name="MouvementEntreeBovin" type="tns:typeMouvementEntree"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Opération IpBCreateMortNe  ######-->
	<xsd:element name="IpBCreateMortNeRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
				<xsd:element name="ExploitationNaissance" type="tns:typeExploitationFrancaisePK"/>
				<xsd:element name="Sexe" type="tns:typeSexe"/>
				<xsd:element name="TypeRacial" type="ns2:TypeCodeRaceBovin"/>
				<xsd:element name="DateNaissance" type="xsd:date"/>
				<xsd:element name="NomBovin" type="tns:typeNomBovin" minOccurs="0"/>
				<xsd:element name="Filiation" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TransplantationEmbryonnaire" type="xsd:boolean"/>
							<xsd:element name="Avortement" type="xsd:boolean"/>
							<xsd:element name="Jumeau" type="xsd:boolean"/>
							<xsd:element name="ConditionNaissance" type="tns:typeConditionNaissance" minOccurs="0"/>
							<xsd:element name="Poids" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="PoidsNaissance" type="tns:typePoidsNaissance"/>
										<xsd:element name="PoidsPese" type="xsd:boolean" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="TourPoitrine" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:unsignedInt">
										<xsd:minInclusive value="1"/>
										<xsd:maxInclusive value="999"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="MerePorteuse">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Bovin" type="tns:typeBovinPK"/>
							<xsd:element name="TypeRacial" type="ns2:TypeCodeRaceBovin"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PereIPG">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Bovin" type="tns:typeBovinEtrangerPK" minOccurs="0"/>
							<xsd:element name="TypeRacial" type="ns2:TypeCodeRaceBovin"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpBCreateMortNeResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
				<xsd:element name="ReponseSpecifique" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="IdentiteBovin" type="tns:typeIdentiteBovin"/>
							<xsd:element name="MouvementBovin">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="MouvementEntreeBovin" type="tns:typeMouvementEntree"/>
										<xsd:element name="MouvementSortieBovin" type="tns:typeMouvementSortie"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Opération IpBCreateAnimalEchange  ######-->
	<xsd:element name="IpBCreateAnimalEchangeRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
				<xsd:element name="ExploitationNotification" type="tns:typeExploitationFrancaisePK"/>
				<xsd:element name="Bovin" type="tns:typeBovinPK"/>
				<xsd:element name="Sexe" type="tns:typeSexe"/>
				<xsd:element name="TypeRacial" type="ns2:TypeCodeRaceBovin"/>
				<xsd:element name="DateNaissance" type="tns:typeDateAvecTemoinCompletude"/>
				<xsd:element name="NumeroTravail" type="tns:typeNumeroTravail"/>
				<xsd:element name="NomBovin" type="tns:typeNomBovin" minOccurs="0"/>
				<xsd:element name="MerePorteuse" type="tns:typeParentEtrangerPK" minOccurs="0"/>
				<xsd:element name="PereIPG" type="tns:typeParentEtrangerPK" minOccurs="0"/>
				<xsd:element name="ExploitationNaissance" type="tns:typeExploitationTiersPK"/>
				<xsd:element name="DateEntree" type="xsd:date"/>
				<xsd:element name="CauseEntree" type="ns9:CauseEntreeType"/>
				<xsd:element name="ExploitationProvenance" type="tns:typeExploitationAcheteurVendeur"/>
				<xsd:element name="CodeAtelier" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="ns7:AtelierBovinIPGType">
							<xsd:length value="2" fixed="true"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="CodeCategorieBovin" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="ns8:CategorieBovinIPGType">
							<xsd:length value="2" fixed="true"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpBCreateAnimalEchangeResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
				<xsd:element name="ReponseSpecifique" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="IdentiteBovin" type="tns:typeIdentiteBovin"/>
							<xsd:element name="MouvementEntreeBovin" type="tns:typeMouvementEntree"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Opération IpBCreateAnimalImporte  ######-->
	<xsd:element name="IpBCreateAnimalImporteRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
				<xsd:element name="ExploitationNotification" type="tns:typeExploitationFrancaisePK"/>
				<xsd:element name="Bovin" type="tns:typeBovinFrancaisPK"/>
				<xsd:element name="Sexe" type="tns:typeSexe"/>
				<xsd:element name="TypeRacial" type="ns2:TypeCodeRaceBovin"/>
				<xsd:element name="DateNaissance" type="tns:typeDateAvecTemoinCompletude"/>
				<xsd:element name="NumeroTravail" type="tns:typeNumeroTravail"/>
				<xsd:element name="NomBovin" type="tns:typeNomBovin" minOccurs="0"/>
				<xsd:element name="MerePorteuse" type="tns:typeParentEtrangerPK" minOccurs="0"/>
				<xsd:element name="PereIPG" type="tns:typeParentEtrangerPK" minOccurs="0"/>
				<xsd:element name="ExploitationNaissance" type="tns:typeExploitationTiersPK" minOccurs="0"/>
				<xsd:element name="CodePaysOrigineBovin" type="ns1:TypeCodePays"/>
				<xsd:element name="NumeroOrigineBovin" type="tns:typeNumeroOrigineBovin"/>
				<xsd:element name="DateEntree" type="xsd:date"/>
				<xsd:element name="CauseEntree" type="ns9:CauseEntreeType"/>
				<xsd:element name="ExploitationProvenance" type="tns:typeExploitationAcheteurVendeur"/>
				<xsd:element name="CodeAtelier" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="ns7:AtelierBovinIPGType">
							<xsd:length value="2" fixed="true"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="CodeCategorieBovin" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="ns8:CategorieBovinIPGType">
							<xsd:length value="2" fixed="true"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpBCreateAnimalImporteResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
				<xsd:element name="ReponseSpecifique" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="IdentiteBovin" type="tns:typeIdentiteBovin"/>
							<xsd:element name="MouvementEntreeBovin" type="tns:typeMouvementEntree"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Opération IpBGetRetourDossiers  ######-->
	<xsd:element name="IpBGetRetourDossiersRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
				<xsd:element name="Exploitation" type="tns:typeExploitationFrancaisePK"/>
				<xsd:element name="DateDebut" type="xsd:date"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpBGetRetourDossiersResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
				<xsd:element name="ReponseSpecifique" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NbBovins" type="xsd:unsignedInt"/>
							<xsd:element name="MessageZip" type="xsd:base64Binary" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Retourne un fichier XML zippé de type MessageIpBNotifGetRetourDossiers</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Opération IpBCreateAvisAnimalImporte  ######-->
	<xsd:element name="IpBCreateAvisAnimalImporteRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
				<xsd:element name="Exploitation" type="tns:typeExploitationFrancaisePK"/>
				<xsd:element name="Bovin">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CodePaysOrigineBovin" type="ns1:TypeCodePays"/>
							<xsd:element name="NumeroOrigineBovin" type="tns:typeNumeroOrigineBovin"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpBCreateAvisAnimalImporteResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Opération IpBCreateRebouclage  ######-->
	<xsd:element name="IpBCreateRebouclageRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
				<xsd:element name="Exploitation" type="tns:typeExploitationFrancaisePK"/>
				<xsd:element name="Bovin">
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="tns:typeBovinPK"/>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Rebouclage">
					<xsd:complexType>
						<xsd:choice>
							<xsd:element name="BoucleConventionnelle">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BoucleTravail" type="xsd:boolean" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="BoucleElectronique"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="CauseRemplacement" type="tns:typeCauseRemplacement" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpBCreateRebouclageResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Opération IpBCreateCommandeBoucles  ######-->
	<xsd:element name="IpBCreateCommandeBouclesRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
				<xsd:element name="ExploitationNotification" type="tns:typeExploitationFrancaisePK"/>
				<xsd:element name="Boucle" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NbPairesBoucles">
								<xsd:simpleType>
									<xsd:restriction base="xsd:unsignedInt">
										<xsd:minInclusive value="0"/>
										<xsd:maxInclusive value="9999"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RefererenceBoucles" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:NMTOKEN">
										<xsd:length value="6"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Pince" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NbPinces">
								<xsd:simpleType>
									<xsd:restriction base="xsd:unsignedInt">
										<xsd:minInclusive value="0"/>
										<xsd:maxInclusive value="9"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RefererencePinces" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:NMTOKEN">
										<xsd:length value="3"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Pointeau" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NbPointeaux">
								<xsd:simpleType>
									<xsd:restriction base="xsd:unsignedInt">
										<xsd:minInclusive value="0"/>
										<xsd:maxInclusive value="9"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RefererencePointeaux" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:NMTOKEN">
										<xsd:length value="3"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpBCreateCommandeBouclesResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Opération IpBGetDossierAnimal  ######-->
	<xsd:element name="IpBGetDossierAnimalRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
				<xsd:element name="Exploitation" type="tns:typeExploitationFrancaisePK"/>
				<xsd:element name="Bovin" type="tns:typeBovinPK"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpBGetDossierAnimalResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
				<xsd:element name="ReponseSpecifique" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Bovin">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="IdentiteBovin" type="tns:typeIdentiteBovin"/>
										<xsd:element name="PeriodesPresences">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="PeriodePresence" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Entree" type="tns:typeMouvementEntree"/>
																<xsd:element name="Sortie" type="tns:typeMouvementSortie" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Opération IpBGetSortiesPresumees  ######-->
	<xsd:element name="IpBGetSortiesPresumeesRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
				<xsd:element name="Exploitation" type="tns:typeExploitationFrancaisePK"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpBGetSortiesPresumeesResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
				<xsd:element name="ReponseSpecifique" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="NbBovins" type="xsd:unsignedInt"/>
							<xsd:element name="MessageZip" type="xsd:base64Binary" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Retourne un fichier XML zippé de type MessageIpBNotifGetSortiesPresumees</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Opération IpBCreateInsemination  ######-->
	<xsd:element name="IpBCreateInseminationRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
				<xsd:element name="ExploitationNotification" type="tns:typeExploitationFrancaisePK"/>
				<xsd:element name="Femelle">
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="tns:typeBovinPK"/>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DateInsemination" type="xsd:date"/>
				<xsd:element name="Taureau" type="tns:typeBovinEtrangerPK"/>
				<xsd:element name="MontePublique" type="xsd:boolean"/>
				<xsd:element name="PourCollecteEmbryon" type="xsd:boolean"/>
				<xsd:element name="ModeInsemination" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="F"/>
							<xsd:enumeration value="C"/>
							<!--Fraîche-->
							<!--Congelé-->
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="TraitementHormonal" type="xsd:boolean" minOccurs="0"/>
				<xsd:element name="PailletteFractionnee" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="1"/>
							<xsd:enumeration value="2"/>
							<xsd:enumeration value="B"/>
							<xsd:enumeration value="D"/>
							<xsd:enumeration value="M"/>
							<xsd:enumeration value="P"/>
							<xsd:enumeration value="Q"/>
							<xsd:enumeration value="T"/>
							<!--Paillette non fractionnée-->
							<!--Paillette fractionnée-->
							<!--Double dose (bis)-->
							<!--Demi paillette-->
							<!--Morceau de paillette-->
							<!--Paillette entière-->
							<!--Quart de paillette-->
							<!--Tiers de paillette-->
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="ReferencePaillette" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="10"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="SemenceSexee" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="0"/>
							<xsd:enumeration value="1"/>
							<xsd:enumeration value="2"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IpBCreateInseminationResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Message MessageIpBNotifGetInventaire pour opération IpBGetInventaire ######-->
	<xsd:element name="MessageIpBNotifGetInventaire">
		<xsd:annotation>
			<xsd:documentation>Message XML utilisé pour la réponse de l'opération IpBGetInventaire</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="InformationsMessage">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DateHeureGeneration" type="xsd:dateTime"/>
							<xsd:element name="Exploitation" type="tns:typeExploitationFrancaisePK"/>
							<xsd:element name="DateDebut" type="xsd:date"/>
							<xsd:element name="DateFin" type="xsd:date" minOccurs="0"/>
							<xsd:element name="StockBoucles" type="xsd:boolean"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Bovins" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Bovin" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="IdentiteBovin" type="tns:typeIdentiteBovin"/>
										<xsd:element name="PeriodesPresences">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="PeriodePresence" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Entree" type="tns:typeMouvementEntree"/>
																<xsd:element name="Sortie" type="tns:typeMouvementSortie" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Boucles" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SerieBoucles" type="tns:typeSerieBoucles" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Message MessageIpBNotifGetRetourDossiers pour opération IpBGetRetourDossiers ######-->
	<xsd:element name="MessageIpBNotifGetRetourDossiers">
		<xsd:annotation>
			<xsd:documentation>Message XML utilisé pour la réponse de l'opération IpBGetRetourDossiers</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="InformationsMessage">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DateHeureGeneration" type="xsd:dateTime"/>
							<xsd:element name="Exploitation" type="tns:typeExploitationFrancaisePK"/>
							<xsd:element name="DateDebut" type="xsd:date"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Bovins" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Bovin" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="IdentiteBovin" type="tns:typeIdentiteBovin"/>
										<xsd:element name="PeriodesPresences">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="PeriodePresence" maxOccurs="unbounded">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Entree" type="tns:typeMouvementEntree"/>
																<xsd:element name="Sortie" type="tns:typeMouvementSortie" minOccurs="0"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  Message MessageIpBNotifGetSortiesPresumees pour opération IpBGetSortiesPresumees ######-->
	<xsd:element name="MessageIpBNotifGetSortiesPresumees">
		<xsd:annotation>
			<xsd:documentation>Message XML utilisé pour la réponse de l'opération IpBGetSortiesPresumees</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="InformationsMessage">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DateHeureGeneration" type="xsd:dateTime"/>
							<xsd:element name="Exploitation" type="tns:typeExploitationFrancaisePK"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SortiesPresumees" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SortiePresumee" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Bovin" type="tns:typeBovinPK"/>
										<xsd:element name="DateSortie" type="xsd:date" minOccurs="0"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
######  TYPES réutilisables dans les opérations  ######-->
	<xsd:simpleType name="typeCauseRemplacement">
		<xsd:annotation>
			<xsd:documentation>Type correspondant aux codes de remplacement d'une boucle bovine</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="I"/>
			<xsd:enumeration value="L"/>
			<xsd:enumeration value="X"/>
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="Z"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typeCodePaysFr">
		<xsd:annotation>
			<xsd:documentation>Type spécial pour limiter au code pays FR uniquement</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
			<xsd:enumeration value="FR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typeConditionNaissance">
		<xsd:annotation>
			<xsd:documentation>Type correspondant aux conditions de vêlage</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typeNomBovin">
		<xsd:annotation>
			<xsd:documentation>Type correspondant au nom d'un bovin</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typeNumeroOrigineBovin">
		<xsd:annotation>
			<xsd:documentation>Type numéro d'origine d'un bovin (nécessaire pour bovin importé)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:maxLength value="14"/>
			<xsd:pattern value="([0-9A-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typeNumeroTravail">
		<xsd:annotation>
			<xsd:documentation>Type correspondant au numéro de travail d'un bovin</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:maxLength value="4"/>
			<xsd:pattern value="[0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typePoidsNaissance">
		<xsd:annotation>
			<xsd:documentation>Type poids de naissane</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typeSexe">
		<xsd:annotation>
			<xsd:documentation>Type sexe d'un bovin</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="F"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="typeTemoinCompletude">
		<xsd:annotation>
			<xsd:documentation>Type témoin de complétude pour les date de naissance</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<!--Date complète-->
			<!--Seul le mois et l’année sont à prendre en compte-->
			<!--Seule l’année est à prendre en compte-->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="typeBovinPK">
		<xsd:annotation>
			<xsd:documentation>Type Bovin français, union européenne</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CodePays">
				<xsd:simpleType>
					<xsd:restriction base="ns11:TypeCodePaysAnimal">
						<xsd:length value="2" fixed="true"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NumeroNational">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:maxLength value="12" fixed="false"/>
						<xsd:pattern value="([0-9A-Z])*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeBovinFrancaisPK">
		<xsd:annotation>
			<xsd:documentation>Type Bovin français</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CodePays" type="tns:typeCodePaysFr"/>
			<xsd:element name="NumeroNational">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:length value="10"/>
						<xsd:pattern value="0[1-9][0-9]{8}|[1-8][0-9]{9}|9[0-5][0-9]{8}|9[7-8][0-9]{8}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeBovinEtranger">
		<xsd:annotation>
			<xsd:documentation>Type Bovin étranger</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CodePays">
				<xsd:simpleType>
					<xsd:restriction base="ns1:TypeCodePays">
						<xsd:length value="2" fixed="true"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NumeroNational" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:maxLength value="12"/>
						<xsd:pattern value="([0-9A-Z])*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeBovinEtrangerPK">
		<xsd:annotation>
			<xsd:documentation>Type Bovin étranger PK</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CodePays">
				<xsd:simpleType>
					<xsd:restriction base="ns1:TypeCodePays">
						<xsd:length value="2" fixed="true"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NumeroNational">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:maxLength value="12"/>
						<xsd:pattern value="([0-9A-Z])*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeDateAvecTemoinCompletude">
		<xsd:annotation>
			<xsd:documentation>Type Date avec témoin de complétude</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Date" type="xsd:date"/>
			<xsd:element name="TemoinCompletude" type="tns:typeTemoinCompletude" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeExploitationFrancaisePK">
		<xsd:annotation>
			<xsd:documentation>Type Exploitation française (FR uniquement)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CodePays" type="tns:typeCodePaysFr"/>
			<xsd:element name="NumeroExploitation">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:length value="8"/>
						<xsd:pattern value="0[1-9][0-9]{6}|[1-8][0-9]{7}|9[0-5][0-9]{6}|9[7-8][0-9]{6}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeExploitationTiersPK">
		<xsd:annotation>
			<xsd:documentation>Type Exploitation pays tiers acheteur/vendeur</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CodePays">
				<xsd:simpleType>
					<xsd:restriction base="ns1:TypeCodePays">
						<xsd:length value="2" fixed="true"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NumeroExploitation">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:maxLength value="12"/>
						<xsd:pattern value="([0-9A-Z])*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeExploitationAcheteurVendeur">
		<xsd:annotation>
			<xsd:documentation>Type Exploitation acheteur/vendeur</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Exploitation" type="tns:typeExploitationTiersPK" minOccurs="0"/>
			<xsd:element name="NomExploitation" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="60"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeIdentiteBovin">
		<xsd:annotation>
			<xsd:documentation>Type identité d'un bovin</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Bovin" type="tns:typeBovinPK"/>
			<xsd:element name="Sexe" type="tns:typeSexe" minOccurs="0"/>
			<xsd:element name="TypeRacial" type="ns2:TypeCodeRaceBovin" minOccurs="0"/>
			<xsd:element name="DateNaissance" type="tns:typeDateAvecTemoinCompletude" minOccurs="0"/>
			<xsd:element name="NumeroTravail" type="tns:typeNumeroTravail" minOccurs="0"/>
			<xsd:element name="NomBovin" type="tns:typeNomBovin" minOccurs="0"/>
			<xsd:element name="StatutFilie" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="MerePorteuse" type="tns:typeParentEtranger" minOccurs="0"/>
			<xsd:element name="PereIPG" type="tns:typeParentEtranger" minOccurs="0"/>
			<xsd:element name="DatePremierVelage" type="xsd:date" minOccurs="0"/>
			<xsd:element name="ExploitationNaissance" type="tns:typeExploitationTiersPK" minOccurs="0"/>
			<xsd:element name="CodePaysOrigine" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="ns1:TypeCodePays">
						<xsd:length value="2" fixed="true"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NumeroOrigine" type="tns:typeNumeroOrigineBovin" minOccurs="0"/>
			<xsd:element name="FinDeVie" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DateFinDeVie" type="xsd:date"/>
						<xsd:element name="TemoinFinDeVie" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:length value="1"/>
									<xsd:enumeration value="M"/>
									<xsd:enumeration value="A"/>
									<xsd:enumeration value="E"/>
									<xsd:enumeration value="C"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeMouvementEntree">
		<xsd:annotation>
			<xsd:documentation>Type Mouvement d'entrée</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DateEntree" type="xsd:date"/>
			<xsd:element name="CauseEntree" type="ns9:CauseEntreeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeMouvementSortie">
		<xsd:annotation>
			<xsd:documentation>Type Mouvement de sortie</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DateSortie" type="xsd:date"/>
			<xsd:element name="CauseSortie" type="ns10:CauseSortieType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeParentEtranger">
		<xsd:annotation>
			<xsd:documentation>Type Parent étranger</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Bovin" type="tns:typeBovinEtranger" minOccurs="0"/>
			<xsd:element name="TypeRacial" type="ns2:TypeCodeRaceBovin" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeParentEtrangerPK">
		<xsd:annotation>
			<xsd:documentation>Type Parent étranger PK</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Bovin" type="tns:typeBovinEtrangerPK" minOccurs="0"/>
			<xsd:element name="TypeRacial" type="ns2:TypeCodeRaceBovin" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="typeSerieBoucles">
		<xsd:annotation>
			<xsd:documentation>Type pour série de boucles françaises N98/N10</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CodePays" type="tns:typeCodePaysFr"/>
			<xsd:element name="DebutSerie">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="10"/>
						<xsd:pattern value="0[1-9][0-9]{8}|[1-9][0-9]{9}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Quantite" type="xsd:unsignedInt"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
