lib/edi/idele/xsd/MdCEdel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by USER USER (CMRE LOGICIEL SA) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.idele.fr/XML/Schema" xmlns:tnsfiea="http://www.fiea.org/types/" xmlns:ns1="urn:fr:agri:elevage:codelist:RegistrationIdentifiantType:1" xmlns:ns2="urn:fr:agri:elevage:codelist:CodePays:1" xmlns:ns3="urn:fr:agri:elevage:codelist:CodeOrganisme:1" xmlns:ns4="urn:fr:agri:elevage:codelist:CodeAnomalieCaprin:1" xmlns:ns5="urn:fr:agri:elevage:codelist:ProtocoleCLCaprin:1" xmlns:ns6="urn:fr:agri:elevage:codelist:CodeEspece:1" xmlns:ns7="urn:fr:agri:elevage:codelist:SituationCivile:1" xmlns:ns8="urn:fr:agri:elevage:codelist:DateCodeValidite:1" xmlns:ns9="urn:fr:agri:elevage:codelist:RaceCaprine:1" xmlns:ns10="urn:fr:agri:elevage:codelist:CategorieBoucIA:1" xmlns:ns11="urn:fr:agri:elevage:codelist:CauseMouvement:1" xmlns:ns12="urn:fr:agri:elevage:codelist:TypeActeur:1" xmlns:ns13="urn:fr:agri:elevage:codelist:TemoinOrigineKI:1" xmlns:ns14="urn:fr:agri:elevage:codelist:EtatFemelleObservee:1" xmlns:ns15="urn:fr:agri:elevage:codelist:EtatObservationLaitiere:1" xmlns:ns16="urn:fr:agri:elevage:codelist:CauseNonControle:1" xmlns:ns17="urn:fr:agri:elevage:codelist:CauseAbsenceTaux:1" xmlns:ns18="urn:fr:agri:elevage:codelist:ClassificationCellules:1" xmlns:ns19="urn:fr:agri:elevage:codelist:CodeMiseBas:1" xmlns:ns20="urn:fr:agri:elevage:codelist:TypeReproduction:1" xmlns:ns21="urn:fr:agri:elevage:codelist:TraitementSynchronisation:1" xmlns:ns22="urn:fr:agri:elevage:codelist:QualiteIA:1" xmlns:ns23="urn:fr:agri:elevage:codelist:CodeRejetCaprin:1" targetNamespace="http://www.idele.fr/XML/Schema" elementFormDefault="qualified">
    <xsd:import namespace="http://www.fiea.org/types/" schemaLocation="fiea_types.xsd"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:RegistrationIdentifiantType:1" schemaLocation="RegistrationIdentifiantType.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:CodePays:1" schemaLocation="CodePays.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeOrganisme:1" schemaLocation="CodeOrganisme.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:ProtocoleCLCaprin:1" schemaLocation="ProtocoleCLCaprin.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeEspece:1" schemaLocation="CodeEspece.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:SituationCivile:1" schemaLocation="SituationCivile.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:RaceCaprine:1" schemaLocation="RaceCaprine.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:DateCodeValidite:1" schemaLocation="DateCodeValidite.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:CategorieBoucIA:1" schemaLocation="CategorieBoucIA.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:CauseMouvement:1" schemaLocation="CauseMouvement.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:TypeActeur:1" schemaLocation="TypeActeur.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:TemoinOrigineKI:1" schemaLocation="TemoinOrigineKI.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:EtatFemelleObservee:1" schemaLocation="EtatFemelleObservee.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:EtatObservationLaitiere:1" schemaLocation="EtatObservationLaitiere.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:CauseNonControle:1" schemaLocation="CauseNonControle.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:CauseAbsenceTaux:1" schemaLocation="CauseAbsenceTaux.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:ClassificationCellules:1" schemaLocation="ClassificationCellules.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeMiseBas:1" schemaLocation="CodeMiseBas.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:TypeReproduction:1" schemaLocation="TypeReproduction.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:TraitementSynchronisation:1" schemaLocation="TraitementSynchronisation.XSD"/>
    <xsd:import namespace="urn:fr:agri:elevage:codelist:QualiteIA:1" schemaLocation="QualiteIA.XSD"/>
    <!--### Opération de consultation ####-->
    <xsd:element name="MdCGetContratsExploitationRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
                <xsd:element name="DateDemande" type="xsd:date"/>
                <xsd:element name="CodeOrganisme" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:length value="4"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCGetContratsExploitationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
                <xsd:element name="ReponseSpecifique" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ExploitationContrat" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="IdentifiantExploitation" type="tns:typeIdentifiantExploitation"/>
                                        <xsd:element name="ContratExploitation" type="tns:typeContrat" minOccurs="0" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCGetDonneesCaprinRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
                <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                <xsd:element name="DateDebutDemande" type="xsd:date"/>
                <xsd:element name="DateFinDemande" type="xsd:date"/>
                <xsd:element name="DateFinDemandeRenseignee" type="xsd:boolean"/>
                <xsd:element name="Caprin" type="tns:typeIdentifiantCaprin" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="IndicateurDemandeGenetique" type="xsd:boolean"/>
                <xsd:element name="IndicateurDemandeGenealogie" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCGetDonneesCaprinResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
                <xsd:element name="ReponseSpecifique" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="NbCaprins" type="xsd:unsignedInt"/>
                            <xsd:element name="MessageZip" type="xsd:base64Binary" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>Retourne un fichier XML zippé de type MessageMdCGetDonneesCaprin</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCGetCLDonneesBrutesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
                <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                <xsd:element name="DateDebutDemande" type="xsd:date" minOccurs="0"/>
                <xsd:element name="Caprin" type="tns:typeIdentifiantCaprin" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="NbEvenementsDemandes" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="0"/>
                            <xsd:maxInclusive value="99"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="IndicateurObservations" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCGetCLDonneesBrutesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
                <xsd:element name="ReponseSpecifique" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="NbLignes" type="xsd:unsignedInt"/>
                            <xsd:element name="MessageZip" type="xsd:base64Binary" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>Retourne un fichier XML zippé de type MessageMdCGetDonneesBrutes</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCGetCLDonneesElaboreesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
                <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                <xsd:element name="DateDebutDemande" type="xsd:date" minOccurs="0"/>
                <xsd:element name="Caprin" type="tns:typeIdentifiantCaprin" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="IndicateurDemandeCumul" type="xsd:boolean"/>
                <xsd:element name="IndicateurDemandeCumul100J" type="xsd:boolean"/>
                <xsd:element name="IndicateurDemandeCumulReference" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCGetCLDonneesElaboreesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
                <xsd:element name="ReponseSpecifique" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="NbDonneesElaborees" type="xsd:unsignedInt"/>
                            <xsd:element name="MessageZip" type="xsd:base64Binary" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>Retourne un fichier XML zippé de type MessageMdCGetDonneesElaborees</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCGetFinGestationRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
                <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                <xsd:element name="DateDebutDemande" type="xsd:date" minOccurs="0"/>
                <xsd:element name="Caprin" type="tns:typeIdentifiantCaprin" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="NbEvenementsDemandes" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="0"/>
                            <xsd:maxInclusive value="99"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCGetFinGestationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
                <xsd:element name="ReponseSpecifique" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="NbFinGestation" type="xsd:unsignedInt"/>
                            <xsd:element name="MessageZip" type="xsd:base64Binary" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>Retourne un fichier XML zippé de type MessageMdCGetFinGestation</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCGetEvenementReproductionRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
                <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                <xsd:element name="DateDebutDemande" type="xsd:date" minOccurs="0"/>
                <xsd:element name="Caprin" type="tns:typeIdentifiantCaprin" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="NbEvenementsDemandes" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                            <xsd:minInclusive value="0"/>
                            <xsd:maxInclusive value="99"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCGetEvenementReproductionResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
                <xsd:element name="ReponseSpecifique" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="NbEvenementReproduction" type="xsd:unsignedInt"/>
                            <xsd:element name="MessageZip" type="xsd:base64Binary" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>Retourne un fichier XML zippé de type MessageMdCGetEvenementReproduction</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--### Opération de mise a  jour ###-->
    <xsd:element name="MdCCreateMouvementRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
                <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                <xsd:element name="IdentifiantCaprin" type="tns:typeIdentifiantCaprin"/>
                <xsd:element name="Mouvement" type="tns:typeMouvement"/>
                <xsd:element name="TechnicienApporteur" type="tns:typeTechnicienApporteur"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCCreateMouvementResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
                <xsd:element name="ReponseSpecifique">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="InformationMessage">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                                        <xsd:element name="Mouvement" type="tns:typeMouvement"/>
                                        <xsd:element name="IdentifiantCaprin" type="tns:typeIdentifiantCaprin"/>
                                        <xsd:element name="TechnicienApporteur" type="tns:typeTechnicienApporteur"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="RejetFonctionSIECL" type="tns:typeRejetFonctionSIECL" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCCreateFinGestationRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
                <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                <xsd:element name="IdentifiantRaceCaprin" type="tns:typeIdentifiantRaceCaprin"/>
                <xsd:element name="FinGestation" type="tns:typeFinGestation"/>
                <xsd:element name="TechnicienApporteur" type="tns:typeTechnicienApporteur"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCCreateFinGestationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
                <xsd:element name="ReponseSpecifique">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="InformationMessage">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                                        <xsd:element name="IdentifiantRaceCaprin" type="tns:typeIdentifiantRaceCaprin"/>
                                        <xsd:element name="FinGestation" type="tns:typeFinGestation"/>
                                        <xsd:element name="TechnicienApporteur" type="tns:typeTechnicienApporteur"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="RejetFonctionSIECL" type="tns:typeRejetFonctionSIECL" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCCreateSaillieRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
                <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                <xsd:element name="IdentifiantCaprin" type="tns:typeIdentifiantCaprin"/>
                <xsd:element name="Saillie" type="tns:typeSaillie"/>
                <xsd:element name="TechnicienApporteur" type="tns:typeTechnicienApporteur"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCCreateSaillieResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
                <xsd:element name="ReponseSpecifique">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="InformationMessage">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                                        <xsd:element name="IdentifiantCaprin" type="tns:typeIdentifiantCaprin"/>
                                        <xsd:element name="Saillie" type="tns:typeSaillie"/>
                                        <xsd:element name="TechnicienApporteur" type="tns:typeTechnicienApporteur"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="RejetFonctionSIECL" type="tns:typeRejetFonctionSIECL" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCCreateCaprinRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="JetonAuthentification" type="tnsfiea:typeJeton"/>
                <xsd:element name="IdentifiantCaprin" type="tns:typeIdentifiantCaprin"/>
                <xsd:element name="IdentiteCaprin" type="tns:typeIdentiteCaprin"/>
                <xsd:element name="ExploitationDetentrice" type="tns:typeIdentifiantExploitation"/>
                <xsd:element name="MereGenetique" type="tns:typeIdentifiantCaprin" minOccurs="0"/>
                <xsd:element name="TechnicienApporteur" type="tns:typeTechnicienApporteur"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MdCCreateCaprinResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ReponseStandard" type="tnsfiea:typeReponse"/>
                <xsd:element name="ReponseSpecifique">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="InformationMessage">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="IdentifiantCaprin" type="tns:typeIdentifiantCaprin"/>
                                        <xsd:element name="IdentiteCaprin" type="tns:typeIdentiteCaprin"/>
                                        <xsd:element name="ExploitationDetentrice" type="tns:typeIdentifiantExploitation"/>
                                        <xsd:element name="MereGenetique" type="tns:typeIdentifiantCaprin" minOccurs="0"/>
                                        <xsd:element name="TechnicienApporteur" type="tns:typeTechnicienApporteur"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="RejetFonctionSIECL" type="tns:typeRejetFonctionSIECL" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <!--###  message de retour  qui  seront zippés ###-->
    <xsd:complexType name="MessageMdCGetDonneesGeneralesCaprin">
        <xsd:annotation>
            <xsd:documentation>Message XML  utilisé  pour la réponse MdCGetDonneesGeneralesCaprin</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InformationsMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                        <xsd:element name="DateDebutDemande" type="xsd:date" minOccurs="0"/>
                        <xsd:element name="DateFinDemande" type="xsd:date" minOccurs="0"/>
                        <xsd:element name="Caprin" type="tns:typeIdentifiantCaprin" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="IndicateurDemandeGenetique" type="xsd:boolean"/>
                        <xsd:element name="IndicateurDemandeGenealogie" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CaprinDonneesGenerales" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IdentifiantCaprin" type="tns:typeIdentifiantCaprin"/>
                        <xsd:element name="IdentiteCaprin" type="tns:typeIdentiteCaprin"/>
                        <xsd:element name="Presence" type="tns:typePresence"/>
                        <xsd:element name="MereGenetique" type="tns:typeIndexResumeCaprin" minOccurs="0"/>
                        <xsd:element name="Pere" type="tns:typeIndexResumeCaprin" minOccurs="0"/>
                        <xsd:element name="Index" type="tns:typeIndex" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MessageMdCCLDonneesBrutesCaprin">
        <xsd:annotation>
            <xsd:documentation>Message XML  utilisé  pour la réponse MdCGetDonneesBrutesCarpin</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InformationsMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                        <xsd:element name="DateDebutDemande" type="xsd:date" minOccurs="0"/>
                        <xsd:element name="Caprin" type="tns:typeIdentifiantCaprin" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="NbEvenementsDemandes" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:int">
                                    <xsd:minInclusive value="0"/>
                                    <xsd:maxInclusive value="99"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="IndicateurObservations" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Passage" type="tns:typePassage" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="CaprinCLDonneesBrutes" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IdentifiantCaprin" type="tns:typeIdentifiantCaprin"/>
                        <xsd:element name="Controle" type="tns:typeControle" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MessageMdCCLDonneesElaboreesCaprin">
        <xsd:annotation>
            <xsd:documentation>Message XML  utilisé  pour la réponse MdCGetDonneesElaboreesCaprin</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InformationsMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                        <xsd:element name="DateDebutDemande" type="xsd:date" minOccurs="0"/>
                        <xsd:element name="Caprin" type="tns:typeIdentifiantCaprin" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="IndicateurDemandeCumul" type="xsd:boolean"/>
                        <xsd:element name="IndicateurDemandeCumul100J" type="xsd:boolean"/>
                        <xsd:element name="IndicateurDemandeCumulReference" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CaprinCLDonneesElaborees" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IdentifiantCaprin" type="tns:typeIdentifiantCaprin"/>
                        <xsd:element name="Lactation" type="tns:typeLactation" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MessageMdCFinGestationCaprin">
        <xsd:annotation>
            <xsd:documentation>Message XML  utilisé  pour la réponse MdCGetFinGestationCaprin</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InformationsMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                        <xsd:element name="DateDebutDemande" type="xsd:date" minOccurs="0"/>
                        <xsd:element name="Caprin" type="tns:typeIdentifiantCaprin" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="NbEvenementsDemandes" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:int">
                                    <xsd:minInclusive value="0"/>
                                    <xsd:maxInclusive value="99"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CaprinFinGestation" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IdentifiantCaprin" type="tns:typeIdentifiantCaprin"/>
                        <xsd:element name="FinGestation" type="tns:typeFinGestation" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MessageMdCEvenementReproductionCaprin">
        <xsd:annotation>
            <xsd:documentation>Message XML  utilisé  pour la réponse MdCGetEvenementReproductionCaprin</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="InformationsMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Exploitation" type="tns:typeIdentifiantExploitation"/>
                        <xsd:element name="Caprin" type="tns:typeIdentifiantCaprin" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="NbEvenementsDemandes" minOccurs="0">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:int">
                                    <xsd:minInclusive value="0"/>
                                    <xsd:maxInclusive value="99"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="DateDebutDemande" type="xsd:date" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CaprinEvenementReproduction" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IdentifiantCaprin" type="tns:typeIdentifiantCaprin"/>
                        <xsd:element name="EvenementReproduction" type="tns:typeEvenementReproduction" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!--### TYPES réutilisables dans les opérations  ###-->
    <xsd:complexType name="typeIdentifiantExploitation">
        <xsd:sequence>
            <xsd:element name="CodePaysExploitation" type="ns2:TypeCodePays"/>
            <xsd:element name="NumeroExploitation" type="tns:typeNumeroIdentification"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeContrat">
        <xsd:sequence>
            <xsd:element name="DateDebutContrat" type="xsd:date"/>
            <xsd:element name="DateFinContrat" type="xsd:date" minOccurs="0"/>
            <xsd:element name="CodeOrganismeContrat">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="ContratCLCaprin" type="tns:typeContratCLCaprin"/>
                <xsd:element name="ContratECCaprin" type="tns:typeContratECCaprin"/>
                <xsd:element name="ContratOSCaprin"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeContratCLCaprin">
        <xsd:sequence>
            <xsd:element name="ProtocoleCLCaprin" type="ns5:TypeProtocoleCLCaprin"/>
            <xsd:element name="ModeEchantillonnage" type="tns:typeModeEchantillonnage" minOccurs="0"/>
            <xsd:element name="NombrePassagesAnnuels">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="SecteurControleLaitier" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NbTraitesQuotidiennes">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeContratECCaprin">
        <xsd:sequence>
            <xsd:element name="GestionFiliationsPaternelles" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeIdentifiantCaprin">
        <xsd:sequence>
            <xsd:element name="CodePaysCaprin" type="ns2:TypeCodePays"/>
            <xsd:element name="NumeroNationalCaprin" type="tns:typeNumeroNationalCaprin"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeIdentifiantRaceCaprin">
        <xsd:sequence>
            <xsd:element name="CodePays" type="ns2:TypeCodePays"/>
            <xsd:element name="NumeroNationalCaprin" type="tns:typeNumeroNationalCaprin"/>
            <xsd:element name="RaceCaprinDeclaree" type="ns9:TypeRaceCaprine" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeIdentiteCaprin">
        <xsd:sequence>
            <xsd:element name="SexeCaprin" type="tns:typeCodeSexe"/>
            <xsd:element name="DateNaissanceCaprin" type="xsd:date"/>
            <xsd:element name="DateNaissanceCodeValidite" type="ns8:TypeDateCodeValidite"/>
            <xsd:element name="MillesimeCaprin">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NumeroTravailCaprin" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="RaceCaprinDeclaree" type="ns9:TypeRaceCaprine"/>
            <xsd:element name="Naisseur" type="tns:typeIdentifiantExploitation" minOccurs="0"/>
            <xsd:element name="RaceGenetiqueCalculee" type="ns9:TypeRaceCaprine" minOccurs="0"/>
            <xsd:element name="CornageCaprin" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="NomCaprin" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IdentifiantElectroniqueCaprin" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TemoinChevreauAttente" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeBoucReproducteur">
        <xsd:sequence>
            <xsd:element name="IdentifiantCaprin" type="tns:typeIdentifiantCaprin"/>
            <xsd:element name="CodeBoucIA" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CategorieBoucIA" type="ns10:TypeCategorieBoucIA" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typePresence">
        <xsd:sequence>
            <xsd:element name="Mouvement" type="tns:typeMouvement" maxOccurs="2"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeMouvement">
        <xsd:sequence>
            <xsd:element name="typeMouvement" type="tns:typeTypeMouvement"/>
            <xsd:element name="DateMouvement" type="xsd:date"/>
            <xsd:element name="TemoinDateMouvement" type="tns:typeTemoinDateMouvement"/>
            <xsd:element name="CauseMouvement" type="ns11:TypeCauseMouvement" minOccurs="0"/>
            <xsd:element name="ValeurComptable" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ValeurFiscale" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Acteur" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TypeActeur" type="ns12:TypeTypeActeur"/>
                        <xsd:element name="IdentifiantActeur" type="tns:typeIdentifiantExploitation"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeIndex">
        <xsd:sequence>
            <xsd:element name="NumeroTraitementIndexation">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IndexLait" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="-9999"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IndexMP" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:maxInclusive value="99.9"/>
                        <xsd:totalDigits value="3"/>
                        <xsd:fractionDigits value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IndexMG" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:maxInclusive value="99.9"/>
                        <xsd:totalDigits value="3"/>
                        <xsd:fractionDigits value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IndexTP" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:maxInclusive value="99.9"/>
                        <xsd:totalDigits value="3"/>
                        <xsd:fractionDigits value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IndexTB" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:maxInclusive value="99.9"/>
                        <xsd:totalDigits value="3"/>
                        <xsd:fractionDigits value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IndexSyntheseProduction" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="-999"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CDIndexProduction" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NbFillesIndexProduction" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NbExploitationsFillesIndexees" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NbLactationsIndexProduction" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="typeNumeroPremiereLactationIndexee" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IndexSyntheseMorphologie" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="-999"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NbFillesIndexMorphologie" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CDIndexMorphologie" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IndexSyntheseProductionMorphologie" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:maxInclusive value="99.9"/>
                        <xsd:totalDigits value="3"/>
                        <xsd:fractionDigits value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeIndexResumeCaprin">
        <xsd:sequence>
            <xsd:element name="IdentifiantCaprin" type="tns:typeIdentifiantCaprin"/>
            <xsd:element name="IndexSyntheseProductionMorphologie" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal">
                        <xsd:maxInclusive value="99.9"/>
                        <xsd:totalDigits value="3"/>
                        <xsd:fractionDigits value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CodeBoucIA" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CategorieUtilisationBoucIA" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typePassage">
        <xsd:sequence>
            <xsd:element name="DatePassageExploitation" type="xsd:date"/>
            <xsd:element name="QuantiteTankAvantTraite" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="QuantiteTankApresTraite" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NbTraitesStockeesTank" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CoefficientKI" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TemoinOrigineKI" type="ns13:TypeTemoinOrigineKI" minOccurs="0"/>
            <xsd:element name="TemoinTraiteMatin" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="TemoinTraiteSoir" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="TemoinEchantillonMatin" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="TemoinEchantillonSoir" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="TemoinEchantillonQuotidien" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="HeureDebutTraiteMatin" type="xsd:time" minOccurs="0"/>
            <xsd:element name="HeureFinTraiteMatin" type="xsd:time" minOccurs="0"/>
            <xsd:element name="HeureDebutTraiteSoir" type="xsd:time" minOccurs="0"/>
            <xsd:element name="HeureFinTraiteSoir" type="xsd:time" minOccurs="0"/>
            <xsd:element name="ValidationPassage" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="NbTraitesQuotidiennes" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeControle">
        <xsd:sequence>
            <xsd:element name="DatePassageExploitation" type="xsd:date"/>
            <xsd:element name="NumeroLactation">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NumeroControleOfficiel">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="EtatFemelleObservee" type="ns14:TypeEtatFemelleObservee"/>
            <xsd:element name="EtatObservationLaitiere" type="ns15:TypeEtatObservationLaitiere"/>
            <xsd:element name="CauseNonControle" type="ns16:TypeCauseNonControle" minOccurs="0"/>
            <xsd:element name="LaitJour" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LaitMatin" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LaitSoir" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CellulesMoyenneJour" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CellulesMatin" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CellulesSoir" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TBMoyenJour" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TBMatin" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TBSoir" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TPMoyenJour" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TPMatin" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TPSoir" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CauseAbsenceTauxMoyen" type="ns17:TypeCauseAbsenceTaux" minOccurs="0"/>
            <xsd:element name="CauseAbsenceTauxMatin" type="ns17:TypeCauseAbsenceTaux" minOccurs="0"/>
            <xsd:element name="CauseAbsenceTauxSoir" type="ns17:TypeCauseAbsenceTaux" minOccurs="0"/>
            <xsd:element name="UreeMoyenneJour" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="UreeMatin" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="UreeSoir" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NumeroLotTraite" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeLactation">
        <xsd:sequence>
            <xsd:element name="NumeroLactation">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TemoinStatutLactation" type="tns:typeTemoinStatutLactation"/>
            <xsd:element name="DateDebutLactation" type="xsd:date"/>
            <xsd:element name="CodeDebutLactation" type="tns:typeCodeDebutLactation"/>
            <xsd:element name="DateTarissement" type="xsd:date" minOccurs="0"/>
            <xsd:element name="TemoinDateTarissement" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="DureePartielleLactation" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NbControlesLait" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NbControlesTaux" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ClassificationCellules" type="ns18:TypeClassificationCellules" minOccurs="0"/>
            <xsd:element name="TemoinChevreIncurable" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="NiveauDemarrage" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DureeReferenceRace" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Cumul" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DonneesCumul" type="tns:typeCumul" minOccurs="0"/>
                        <xsd:element name="CauseNonCalculLait" type="tns:typeCauseNonCalcul" minOccurs="0"/>
                        <xsd:element name="CauseNonCalculMG" type="tns:typeCauseNonCalcul" minOccurs="0"/>
                        <xsd:element name="CauseNonCalculMP" type="tns:typeCauseNonCalcul" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Cumul100J" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DonneesCumul" type="tns:typeCumul" minOccurs="0"/>
                        <xsd:element name="CauseNonCalcul100" type="tns:typeCauseNonCalcul" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CumulReference" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DonneesCumul" type="tns:typeCumul" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="NiveauCLS" type="tns:typeNiveauCLS" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeCumul">
        <xsd:sequence>
            <xsd:element name="LaitCumule" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MGCumulee" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="MPCumulee" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeNiveauCLS">
        <xsd:sequence>
            <xsd:element name="NiveauLait" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NiveauMG" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NiveauMP" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CauseNonCalcul1" type="tns:typeCauseNonCalcul" minOccurs="0"/>
            <xsd:element name="EstimationLait" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="10"/>
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CauseNonCalcul2" type="tns:typeCauseNonCalcul" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeFinGestation">
        <xsd:sequence>
            <xsd:element name="DateFinGestation" type="xsd:date"/>
            <xsd:element name="CodeMiseBas" type="ns19:TypeCodeMiseBas"/>
            <xsd:element name="TaillePortee" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NbProduitsMorts" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NbProduitsElevage" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NbProduitsBoucherie" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DateReproductionFecondante" type="xsd:date" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeEvenementReproduction">
        <xsd:sequence>
            <xsd:element name="DateDebutSaillie" type="xsd:date"/>
            <xsd:element name="DateFinSaillie" type="xsd:date" minOccurs="0"/>
            <xsd:element name="TypeReproduction" type="ns20:TypeTypeReproduction"/>
            <xsd:element name="TraitementSynchronisation" type="ns21:TypeTraitementSynchronisation" minOccurs="0"/>
            <xsd:element name="HeureInsemination" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="QualiteIA" type="ns22:TypeQualiteIA" minOccurs="0"/>
            <xsd:element name="ReferencePaillette" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="BoucReproduction" type="tns:typeBoucReproducteur" minOccurs="0"/>
            <xsd:element name="AgentInseminateur" type="tns:typeAgentInseminateur" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeSaillie">
        <xsd:sequence>
            <xsd:element name="DateDebutSaillie" type="xsd:date"/>
            <xsd:element name="DateFinSaillie" type="xsd:date" minOccurs="0"/>
            <xsd:element name="typeReproduction" type="ns20:TypeTypeReproduction"/>
            <xsd:element name="TraitementSynchronisation" type="ns21:TypeTraitementSynchronisation" minOccurs="0"/>
            <xsd:element name="BoucReproduction" type="tns:typeIdentifiantCaprin" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeAgentInseminateur">
        <xsd:sequence>
            <xsd:element name="CodeEMP">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="IdentifiantAgentIA">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="typeNumeroIdentification">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="typeNumeroPersonne">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="typeNumeroNationalCaprin">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="typeCodeSexe">
        <xsd:restriction base="xsd:string">
            <xsd:length value="1"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="typeTypeMouvement">
        <xsd:restriction base="xsd:string">
            <xsd:length value="1"/>
            <xsd:enumeration value="E"/>
            <xsd:enumeration value="S"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="typeTemoinDateMouvement">
        <xsd:restriction base="xsd:string">
            <xsd:length value="1"/>
            <xsd:enumeration value="C"/>
            <xsd:enumeration value="R"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="typeTemoinStatutLactation">
        <xsd:restriction base="xsd:string">
            <xsd:length value="1"/>
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="typeCodeDebutLactation">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="N"/>
            <xsd:enumeration value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="typeCauseNonCalcul">
        <xsd:restriction base="xsd:string">
            <xsd:length value="3"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="typeModeEchantillonnage">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A"/>
            <xsd:enumeration value="C"/>
            <xsd:enumeration value="Q"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="typeRejetFonctionSIECL">
        <xsd:sequence>
            <xsd:element name="CodeFonctionSIECL">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CodeRejetFonctionSIECL">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="LibelleRejetFonctionSIECL">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="typeTechnicienApporteur">
        <xsd:sequence>
            <xsd:element name="CodeOrganisme">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CodeTechnicien">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
