lib/edi/idele/xsd/ParageBovin-V0.5.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by BLERIOT (Institut De L'Elevage) -->
<!-- Version 0.5 du 06 mars 2013 -->
<xsd:schema xmlns="http://www.inst-elevage.asso.fr/XML/Schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:CODEPAYS="urn:fr:agri:elevage:codelist:CodePays:1" xmlns:REGISTRATIONIDENTIFIANTTYPE="urn:fr:agri:elevage:codelist:RegistrationIdentifiantType:1" xmlns:LESIONPIED="urn:fr:agri:elevage:codelist:LesionPied:1" xmlns:ns1="urn:fr:agri:elevage:codelist:NoteLesionPied:1" targetNamespace="http://www.inst-elevage.asso.fr/XML/Schema" version="1.0.0">
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodePays:1" schemaLocation="CodePays.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:RegistrationIdentifiantType:1" schemaLocation="RegistrationIdentifiantType.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:LesionPied:1" schemaLocation="LesionPied.XSD"/>
	<xsd:simpleType name="Libelle100">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
			<xsd:pattern value="[^\t]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle20">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
			<xsd:pattern value="[^\t]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Identifiant">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="12"/>
			<xsd:pattern value="[A-Z0-9]{4}|[A-Z]{2}[0-9]{8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre5Chiffres">
		<xsd:restriction base="xsd:long">
			<xsd:maxInclusive value="99999"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Immatriculation" mixed="false">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Immatriculation]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Identifiant" type="Identifiant">
				<xsd:annotation>
					<xsd:documentation><![CDATA[numero identifiant]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TypeIdentifiant" type="REGISTRATIONIDENTIFIANTTYPE:RegistrationIdentifiantTypeType">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Type identifiant]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="RegistrationIdentifier">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="P[0-9]{4}|CRI[A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Validation" mixed="false">
		<xsd:sequence>
			<xsd:element name="Anomalie" type="Anomalie" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Qualification" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Anomalie" mixed="false">
		<xsd:sequence>
			<xsd:element name="CodeAnomalie"/>
			<xsd:element name="TypeAnomalie" type="TypeAnomalie"/>
			<xsd:element name="LibelleAnomalie" type="LibelleOblig"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TypeAnomalie">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LibelleOblig">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Registration" mixed="false">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Immatriculation]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Identifier" type="RegistrationIdentifier">
				<xsd:annotation>
					<xsd:documentation><![CDATA[numero identifiant]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IdentifierType" type="REGISTRATIONIDENTIFIANTTYPE:RegistrationIdentifiantTypeType">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Type identifiant]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Party" mixed="false">
		<xsd:sequence>
			<xsd:element name="Registration" type="Registration"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentGIEA" mixed="false">
		<xsd:sequence>
			<xsd:element name="Owner" type="Party">
				<xsd:annotation>
					<xsd:documentation><![CDATA[celui qui recoit le document]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Issuer" type="Party">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Celui qui emet le document]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Identification" type="Libelle100"/>
			<xsd:element name="Name" type="xsd:string" default="PARABOV"/>
			<xsd:element name="Creation" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation><![CDATA[date et heure de creation du document]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LineCount" type="Nombre5Chiffres">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Nombre de blocs fonctionnels dans le message]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EnTest" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Urgent" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="DocumentOrigine" type="Libelle100" minOccurs="0"/>
			<xsd:element name="FichierRejete" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="NbEvtErreur" type="Nombre5Chiffres" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Nombre de blocs fonctionnels en erreur dans le message]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Organisation" mixed="false">
		<xsd:sequence>
			<xsd:element name="Immatriculation" type="Immatriculation" maxOccurs="unbounded"/>
			<xsd:element name="NomOrganisation" type="Libelle100" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="CodeActionEvenement">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CRE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="OperationParageBovin" mixed="false">
		<xsd:annotation>
			<xsd:documentation><![CDATA[OperationParageBovin]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CodeAgentPareur" type="CodeAgentPareur"/>
			<xsd:element name="DateParage" type="xsd:date"/>
			<xsd:element name="Validation" type="Validation" minOccurs="0"/>
			<xsd:element name="CodeAction" type="CodeActionEvenement"/>
			<xsd:element name="Createur" type="Organisation"/>
			<xsd:element name="TypeIntervention" type="TypeIntervention"/>
			<xsd:element name="ExploitationElevage" type="ExploitationElevage"/>
			<xsd:element name="Bovin" type="Bovin" maxOccurs="unbounded"/>
			<xsd:element name="Commentaire" type="Libelle100" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="CodeAgentPareur">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="P[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeIntervention">
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="P"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NumeroIdentificationNational">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="12"/>
			<xsd:pattern value="([0-9A-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ExploitationElevage" mixed="false">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Exploitation elevage ]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Immatriculation" type="Immatriculation"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Bovin" mixed="false">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Bovin]]></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CodePaysAnimal" type="CODEPAYS:TypeCodePays">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Code pays du bovin]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumeroIdentificationNational" type="NumeroIdentificationNational">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Numero officiel du bovin]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EvaluationLesions">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PatteArriereGauche">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Intervention" type="xsd:boolean"/>
									<xsd:element name="Notation" type="Notation" minOccurs="0" maxOccurs="8"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PatteArriereDroite">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Intervention" type="xsd:boolean"/>
									<xsd:element name="Notation" type="Notation" minOccurs="0" maxOccurs="8"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PatteAvantGauche" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Intervention" type="xsd:boolean"/>
									<xsd:element name="Notation" type="Notation" minOccurs="0" maxOccurs="8"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="PatteAvantDroite" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Intervention" type="xsd:boolean"/>
									<xsd:element name="Notation" type="Notation" minOccurs="0" maxOccurs="8"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Notation">
		<xsd:sequence>
			<xsd:element name="TypeLesion" type="LESIONPIED:TypeLesionCode"/>
			<xsd:element name="Note" type="LESIONPIED:NoteCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PARABOV" type="PARABOV"/>
	<xsd:complexType name="PARABOV" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="DocumentGIEA">
				<xsd:sequence>
					<xsd:element name="OperationParageBovin" type="OperationParageBovin" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
