lib/edi/idele/xsd/XMLDonneesMalesPublics_V104.XSD

<?xml version='1.0' encoding="ISO-8859-1"?>
<xsd:schema version="1.04" xml:lang="fr" targetNamespace="http://www.inst-elevage.asso.fr/XML/Schema" xmlns="http://www.inst-elevage.asso.fr/XML/Schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:CODETYPEANOMALIETYPE="urn:fr:agri:elevage:codelist:CodeTypeAnomalie:1" xmlns:CODETYPEDEMANDETYPE="urn:fr:agri:elevage:codelist:CodeTypeDemande:1" xmlns:CODEANOMALIETYPE="urn:fr:agri:elevage:codelist:CodeAnomalie:1" xmlns:CODEPAYSTYPE="urn:fr:agri:elevage:codelist:CodePays:1" xmlns:REGISTRATIONIDENTIFIANTTYPE="urn:fr:agri:elevage:codelist:RegistrationIdentifiantType:1" xmlns:CODERACEBOVINETYPE="urn:fr:agri:elevage:codelist:CodeRaceBovin:1" xmlns:CODETYPEPROGRAMMEAGREMENTTYPE="urn:fr:agri:elevage:codelist:CodeTypeProgrammeAgrement:1" xmlns:CODEDECLARATIONINITIALETYPE="urn:fr:agri:elevage:codelist:CodeDeclarationInitialeMale:1">
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeTypeAnomalie:1" schemaLocation="CodeTypeAnomalie.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeTypeDemande:1" schemaLocation="CodeTypeDemande.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeAnomalie:1" schemaLocation="CodeAnomalie.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodePays:1" schemaLocation="CodePays.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:RegistrationIdentifiantType:1" schemaLocation="RegistrationIdentifiantType.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeRaceBovin:1" schemaLocation="CodeRaceBovin.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeTypeProgrammeAgrement:1" schemaLocation="CodeTypeProgrammeAgrement.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeDeclarationInitialeMale:1" schemaLocation="CodeDeclarationInitialeMale.XSD"/>
  <xsd:element name="DonneesMalesPublics" type="DonneesMalesPublics">
  </xsd:element>
  <xsd:simpleType name="Nombre6Chiffres">
    <xsd:restriction base="xsd:long">
      <xsd:maxInclusive value="999999"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeCodeAction">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INV"/>
      <xsd:enumeration value="CRE"/>
      <xsd:enumeration value="DEM"/>
      <xsd:enumeration value="INF"/>
      <xsd:enumeration value="MOD"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeCodeSexe">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle80">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DonneesMalesPublics" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="Document">
        <xsd:sequence>
          <xsd:element name="ServiceEchangeDonnees" type="ServiceDemande" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="PeriodeEnregistrementDonnees" type="PeriodeEnregistrementDonnees" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="DeclarationInitialeMalePublic" type="DeclarationInitialeMalePublic" minOccurs="0" maxOccurs="unbounded">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Party" mixed="false">
    <xsd:sequence>
      <xsd:element name="Registration" type="Registration" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EvenementNotifie" mixed="false">
    <xsd:sequence>
      <xsd:element name="Validation" type="Validation" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Createur" type="Organisation" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Destinataire" type="Organisation" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CodeAction" type="TypeCodeAction" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Organisation" mixed="false">
    <xsd:sequence>
      <xsd:element name="Immatriculation" type="Immatriculation" minOccurs="1" maxOccurs="unbounded">
      </xsd:element>
      <xsd:element name="Nom" type="Libelle80" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Validation" mixed="false">
    <xsd:sequence>
      <xsd:element name="Anomalie" type="Anomalie" minOccurs="0" maxOccurs="unbounded">
      </xsd:element>
      <xsd:element name="Qualification" type="xsd:boolean" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Anomalie" mixed="false">
    <xsd:sequence>
      <xsd:element name="CodeAnomalie" type="CODEANOMALIETYPE:TypeCodeAnomalie" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeAnomalie" type="CODETYPEANOMALIETYPE:TypeCodeTypeAnomalie" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LibelleAnomalie" type="Libelle80" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeclarationInitialeMalePublic" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="Evenement">
        <xsd:sequence>
          <xsd:element name="EntrepriseSelectionDeclarante" type="Organisation" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="TaureauReproducteur" type="TaureauReproducteur" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="TypeDeclarationInitiale" type="CODEDECLARATIONINITIALETYPE:TypeCodeDeclarationInitialeMale" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="ValiditeDeclarationInitiale" type="xsd:boolean" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="TypeProgrammeAgrement" type="CODETYPEPROGRAMMEAGREMENTTYPE:TypeCodeTypeProgrammeAgrement" minOccurs="0" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Evenement" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="EvenementNotifie">
        <xsd:sequence>
          <xsd:element name="Identifiant" type="Libelle80" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="DateDebut" type="xsd:date" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="DateFin" type="xsd:date" minOccurs="0" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TaureauReproducteur" mixed="false">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Taureau reproducteur
]]></xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="Bovin">
        <xsd:sequence>
          <xsd:element name="NumeroIETaureau" type="Libelle80" minOccurs="1" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Document" mixed="false">
    <xsd:sequence>
      <xsd:element name="Owner" type="Party" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Issuer" type="Party" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Identification" type="Libelle80" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Name" type="Libelle80" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Creation" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LineCount" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="EnTest" type="xsd:boolean" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Immatriculation" mixed="false">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Immatriculation]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Identifiant" type="Libelle80" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeIdentifiant" type="REGISTRATIONIDENTIFIANTTYPE:RegistrationIdentifiantTypeType" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bovin" mixed="false">
    <xsd:sequence>
      <xsd:element name="MereCertifiee" type="Bovin" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="PereCertifie" type="Bovin" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Identite" type="Identite" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CodePays" type="CODEPAYSTYPE:TypeCodePays" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NumeroNationalAnimal" type="Libelle80" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identite" mixed="false">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Identite bovine]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Nom" type="Libelle80" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DateNaissance" type="xsd:date" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CodeRaceBovin" type="CODERACEBOVINETYPE:TypeCodeRaceBovin" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Sexe" type="TypeCodeSexe" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PeriodeEnregistrementDonnees" mixed="false">
    <xsd:annotation>
      <xsd:documentation><![CDATA[periode de collecte des donnees]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DateDebutPeriode" type="xsd:date" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DateFinPeriode" type="xsd:date" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceDemande" mixed="false">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Service demande]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Validation" type="Validation" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeService" type="CODETYPEDEMANDETYPE:TypeCodeTypeDemande" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Registration" mixed="false">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Immatriculation]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Identifier" type="Libelle80" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IdentifierType" type="REGISTRATIONIDENTIFIANTTYPE:RegistrationIdentifiantTypeType" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
