lib/edi/idele/xsd/XMLEchangePetitsRuminants.XSD

<?xml version="1.0"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by IE (Institut De L'Elevage) -->
<xsd:schema xmlns="http://www.idele.fr/XML/Schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:CODESEXE="urn:fr:agri:elevage:codelist:CodeSexe:1" xmlns:CODEMETHODEALLAITEMENT="urn:fr:agri:elevage:codelist:CodeMethodeAllaitement:1" xmlns:CODECATEGORIEPRODUCTION="urn:fr:agri:elevage:codelist:CodeCategorieProduction:1" xmlns:CODECAUSESORTIE="urn:fr:agri:elevage:codelist:CodeCauseSortie:1" xmlns:CODEALLELE="urn:fr:agri:elevage:codelist:CodeAllele:1" xmlns:CAUSEMORT="urn:fr:agri:elevage:codelist:CauseMort:1" xmlns:CODEMETHODEREPRODUCTION="urn:fr:agri:elevage:codelist:CodeMethodeReproduction:1" xmlns:CODECAUSEENTREE="urn:fr:agri:elevage:codelist:CodeCauseEntree:1" xmlns:CODECAUSEZOOTREFORME="urn:fr:agri:elevage:codelist:CodeCauseZootReforme:1" xmlns:REGISTRATIONIDENTIFIANTTYPE="urn:fr:agri:elevage:codelist:RegistrationIdentifiantType:1" xmlns:CODEESPECE="urn:fr:agri:elevage:codelist:CodeEspece:1" xmlns:CODEMB="urn:fr:agri:elevage:codelist:CodeMB:1" xmlns:CODEMORTALITE="urn:fr:agri:elevage:codelist:CodeMortalite:1" xmlns:CODEANOMALIE="urn:fr:agri:elevage:codelist:CodeAnomalie:1" xmlns:CODETYPEANOMALIE="urn:fr:agri:elevage:codelist:CodeTypeAnomalie:1" xmlns:CODETYPEDEMANDE="urn:fr:agri:elevage:codelist:CodeTypeDemande:1" xmlns:CODETYPEREFORME="urn:fr:agri:elevage:codelist:CodeTypeReforme:1" xmlns:CODEPAYS="urn:fr:agri:elevage:codelist:CodePays:1" xmlns:CODERACEOVIN="urn:fr:agri:elevage:codelist:CodeRacePhenotypiqueOvin:1" xmlns:CODEVALIDITE="urn:fr:agri:elevage:codelist:CodeValiditeDate:1" xmlns:CODETYPEPESEE="urn:fr:agri:elevage:codelist:CodeTypePesee:1" xmlns:CODEQUALIFJEUNE="urn:fr:agri:elevage:codelist:CodeQualifJeune:1" xmlns:CODEQUALIFADULTE="urn:fr:agri:elevage:codelist:CodeQualifAdulte:1" xmlns:ns1="urn:fr:agri:elevage:codelist:CauseMort:1" xmlns:CODEDEFAUT="urn:fr:agri:elevage:codelist:CodeDefaut:1" targetNamespace="http://www.idele.fr/XML/Schema" version="1.1" xml:lang="fr">
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeMethodeAllaitement:1" schemaLocation="CodeMethodeAllaitement.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodePays:1" schemaLocation="CodePays.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeCategorieProduction:1" schemaLocation="CodeCategorieProduction.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeMethodeReproduction:1" schemaLocation="CodeMethodeReproduction.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeCauseEntree:1" schemaLocation="CodeCauseEntree.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeCauseSortie:1" schemaLocation="CodeCauseSortie.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeCauseZootReforme:1" schemaLocation="CodeCauseZootReforme.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeRacePhenotypiqueOvin:1" schemaLocation="CodeRacePhenotypiqueOvin.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeSexe:1" schemaLocation="CodeSexe.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeEspece:1" schemaLocation="CodeEspece.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeTypeReforme:1" schemaLocation="CodeTypeReforme.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeTypeDemande:1" schemaLocation="CodeTypeDemande.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeAnomalie:1" schemaLocation="CodeAnomalie.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeTypeAnomalie:1" schemaLocation="CodeTypeAnomalie.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeValiditeDate:1" schemaLocation="CodeValiditeDate.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeMB:1" schemaLocation="CodeMB.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeMortalite:1" schemaLocation="CodeMortalite.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:RegistrationIdentifiantType:1" schemaLocation="RegistrationIdentifiantType.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeAllele:1" schemaLocation="CodeAllele.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CauseMort:1" schemaLocation="CauseMort.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeTypePesee:1" schemaLocation="CodeTypePesee.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeQualifJeune:1" schemaLocation="CodeQualifJeune.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeQualifAdulte:1" schemaLocation="CodeQualifAdulte.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodeDefaut:1" schemaLocation="CodeDefaut.XSD"/>
	<xsd:element name="EchangeEvenementsPetitsRuminants" type="EchangeEvtPetitsRuminants"/>
	<!--######message EDEL ovins ######-->
	<xsd:complexType name="EchangeEvtPetitsRuminants" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Document">
				<xsd:sequence>
					<xsd:element name="ServiceDemande" type="ServiceDemande" minOccurs="0"/>
					<xsd:element name="ExploitationElevage" type="ExploitationElevage"/>
					<xsd:element name="PeriodeEnregistrementDonnees" type="PeriodeEnregistrementDonnees" minOccurs="0"/>
					<xsd:element name="Animal" type="Animal" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Luttes" type="Lutte" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--######elements generiques  ######-->
	<xsd:complexType name="Evenement" abstract="true" mixed="false">
		<xsd:sequence>
			<xsd:element name="Destinataire" type="Organisation"/>
			<xsd:element name="Auteur" type="Organisation"/>
			<xsd:element name="Validation" type="Validation" minOccurs="0"/>
			<xsd:element name="CodeAction" type="TypeCodeAction"/>
			<xsd:element name="Identifiant" type="Libelle20" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Party" mixed="false">
		<xsd:sequence>
			<xsd:element name="Registration" type="Registration"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Document" mixed="false">
		<xsd:sequence>
			<xsd:element name="Issuer" type="Party"/>
			<xsd:element name="Owner" type="Party"/>
			<xsd:element name="Identification" type="Libelle80"/>
			<xsd:element name="Name" type="Libelle80"/>
			<xsd:element name="Creation" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation><![CDATA[date et heure de creation du document]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LineCount" type="Nombre5Chiffres"/>
			<xsd:element name="EnTest" type="xsd:boolean"/>
			<xsd:element name="Urgent" type="xsd:boolean"/>
			<xsd:element name="DocumentOrigine" type="Libelle80" minOccurs="0"/>
			<xsd:element name="FichierRejete" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="NbEvtErreur" type="Nombre5Chiffres" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Organisation" mixed="false">
		<xsd:sequence>
			<xsd:element name="Immatriculation" type="Immatriculation"/>
			<xsd:element name="NomOrganisation" type="Libelle30" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Immatriculation" mixed="false">
		<xsd:sequence>
			<xsd:element name="Identifiant" type="Libelle14"/>
			<xsd:element name="TypeIdentifiant" type="REGISTRATIONIDENTIFIANTTYPE:RegistrationIdentifiantTypeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Registration" mixed="false">
		<xsd:sequence>
			<xsd:element name="Identifier" type="Libelle30"/>
			<xsd:element name="IdentifierType" type="REGISTRATIONIDENTIFIANTTYPE:RegistrationIdentifiantTypeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Validation" mixed="false">
		<xsd:sequence>
			<xsd:element name="Qualification" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Anomalie" type="Anomalie" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Anomalie" mixed="false">
		<xsd:sequence>
			<xsd:element name="CodeAnomalie" type="CODEANOMALIE:TypeCodeAnomalie"/>
			<xsd:element name="TypeAnomalie" type="CODETYPEANOMALIE:TypeCodeTypeAnomalie"/>
			<xsd:element name="LibelleAnomalie" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--######elements de gestion exploitation ######-->
	<xsd:complexType name="ExploitationElevage" mixed="false">
		<xsd:sequence>
			<xsd:element name="Immatriculation" type="Immatriculation" maxOccurs="3"/>
			<xsd:element name="GroupeConduite" type="GroupeConduite" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GroupeConduite" mixed="false">
		<xsd:sequence>
			<xsd:element name="IdentifiantGroupeConduite" type="Libelle02" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--######elements de gestion des demandes montantes ######-->
	<xsd:complexType name="ServiceDemande" mixed="false">
		<xsd:sequence>
			<xsd:element name="Validation" type="Validation" minOccurs="0"/>
			<xsd:element name="TypeService" type="CODETYPEDEMANDE:TypeCodeTypeDemande"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PeriodeEnregistrementDonnees" mixed="false">
		<xsd:sequence>
			<xsd:element name="DateDebutPeriode" type="xsd:dateTime"/>
			<xsd:element name="DateFinPeriode" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--######elements de gestion des données rattachées à un animal######-->
	<xsd:complexType name="Animal" mixed="false">
		<xsd:sequence>
			<xsd:element name="CodePays" type="CODEPAYS:TypeCodePays"/>
			<xsd:element name="NumeroOfficielAnimal" type="NumeroOfficielAnimal"/>
			<xsd:element name="CodeEspece" type="CODEESPECE:TypeCodeEspece"/>
			<xsd:element name="Sexe" type="CODESEXE:TypeCodeSexe" minOccurs="0"/>
			<xsd:element name="Identite" type="Identite" minOccurs="0"/>
			<xsd:element name="Evenements" type="EvenementNotifie" minOccurs="0"/>
			<xsd:element name="DonneesElaborees" type="DonneesElaborees" minOccurs="0"/>
			<xsd:element name="Renumerotation" type="Renumerotation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Identite" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Evenement">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
]]></xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="Nom" type="Libelle10" minOccurs="0"/>
					<xsd:element name="NumeroIdentificationElectronique" type="Libelle15" minOccurs="0"/>
					<xsd:element name="NumeroTravail" type="Libelle14" minOccurs="0"/>
					<xsd:element name="IdentiteOvine" type="IdentiteOvine" minOccurs="0"/>
					<xsd:element name="CategorieProduction" type="CODECATEGORIEPRODUCTION:TypeCodeCategorieProduction" minOccurs="0"/>
					<xsd:element name="InformationsNaissance" type="InformationsNaissance" minOccurs="0"/>
					<xsd:element name="DateNaissance" type="xsd:date" minOccurs="0"/>
					<xsd:element name="CodeValiditeDate" type="CODEVALIDITE:TypeCodeValiditeDate" minOccurs="0"/>
					<xsd:element name="GenotypeTremblanteEleveur" type="GenotypeTremblante" minOccurs="0"/>
					<xsd:element name="GenotypeTremblanteOfficiel" type="GenotypeTremblanteOfficiel" minOccurs="0"/>
					<xsd:element name="MerePorteuse" type="Animal" minOccurs="0"/>
					<xsd:element name="MereGenetique" type="Animal" minOccurs="0"/>
					<xsd:element name="MereAdoptive" type="Animal" minOccurs="0"/>
					<xsd:element name="Pere" type="Animal" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IdentifiantOfficiel" mixed="false">
		<xsd:sequence>
			<xsd:element name="CodePays" type="CODEPAYS:TypeCodePays"/>
			<xsd:element name="NumeroOfficielAnimal" type="NumeroOfficielAnimal"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NumeroAnimal" mixed="false">
		<xsd:sequence>
			<xsd:element name="CodePays" type="CODEPAYS:TypeCodePays"/>
			<xsd:element name="NumeroOfficielAnimal" type="NumeroOfficielAnimal"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentiteOvine" mixed="false">
		<xsd:sequence>
			<xsd:element name="CodeRacePhenotypique" type="CODERACEOVIN:TypeCodeRacePhenotypiqueOvin" minOccurs="0"/>
			<xsd:element name="CodeBelierIA" type="Libelle06" minOccurs="0"/>
			<xsd:element name="MethodeAllaitement" type="CODEMETHODEALLAITEMENT:TypeCodeMethodeAllaitement" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MiseBasOvine" mixed="false">
		<xsd:sequence>
			<xsd:element name="RacePortee" type="CODERACEOVIN:TypeCodeRacePhenotypiqueOvin" minOccurs="0"/>
			<xsd:element name="NombreMalesVivants" type="Nombre1Chiffre" minOccurs="0"/>
			<xsd:element name="NombreFemellesVivantes" type="Nombre1Chiffre" minOccurs="0"/>
			<xsd:element name="RacePereSuppose" type="CODERACEOVIN:TypeCodeRacePhenotypiqueOvin" minOccurs="0"/>
			<xsd:element name="NumeroPresenceRepro" type="Libelle01" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformationsNaissance" mixed="false">
		<xsd:sequence>
			<xsd:element name="ExploitationNaissance" type="ExploitationElevage" minOccurs="0"/>
			<xsd:element name="Poidsnaissance" type="Nombre4Vide" minOccurs="0"/>
			<xsd:element name="MethodeReproduction" type="CODEMETHODEREPRODUCTION:TypeCodeMethodeReproduction" minOccurs="0"/>
			<xsd:element name="ModeNaissance" type="Nombre1Chiffre" minOccurs="0"/>
			<xsd:element name="ModeElevage" type="Nombre1Chiffre" minOccurs="0"/>
			<xsd:element name="CodeMortalite" type="CODEMORTALITE:TypeCodeMortalite" minOccurs="0"/>
			<xsd:element name="CauseMortalite" type="CauseMortalite" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="DateMortalite" type="DateVide" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GenotypeTremblante" mixed="false">
		<xsd:sequence>
			<xsd:element name="PrP1" type="CODEALLELE:TypeCodeAllele"/>
			<xsd:element name="PrP2" type="CODEALLELE:TypeCodeAllele"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GenotypeTremblanteOfficiel" mixed="false">
		<xsd:sequence>
			<xsd:element name="PrP1" type="Libelle3"/>
			<xsd:element name="PrP2" type="Libelle3"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--######elements de gestion des evenements de carriere animal ######-->
	<xsd:complexType name="EvenementNotifie" mixed="false">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="IntroductionOvinOuCaprin" type="IntroductionOvinOuCaprin" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MiseBas" type="MiseBas" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SortieOvinOuCaprin" type="SortieOvinOuCaprin" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="IntroductionOvinOuCaprin" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Evenement">
				<xsd:sequence>
					<xsd:element name="Vendeur" type="Organisation" minOccurs="0"/>
					<xsd:element name="DateEntreeReelle" type="xsd:date" minOccurs="0"/>
					<xsd:element name="DateEntreeConstatee" type="xsd:date" minOccurs="0"/>
					<xsd:element name="CauseEntree" type="CODECAUSEENTREE:TypeCodeCauseEntree"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MiseBas" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Evenement">
				<xsd:sequence>
					<xsd:element name="DateMB" type="xsd:date"/>
					<xsd:element name="CodeMB" type="CODEMB:TypeCodeMB" minOccurs="0"/>
					<xsd:element name="RangMiseBas" type="Nombre2Chiffres" minOccurs="0"/>
					<xsd:element name="TaillePortee" type="Nombre1Chiffre" minOccurs="0"/>
					<xsd:element name="MortNes" type="MortNes" minOccurs="0"/>
					<xsd:element name="MiseBasOvine" type="MiseBasOvine" minOccurs="0"/>
					<xsd:element name="Produit" type="Animal" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MortNes" mixed="false">
		<xsd:sequence>
			<xsd:element name="NombreProduitsMortNes" type="Nombre1Chiffre"/>
			<xsd:element name="CauseMortalite" type="CauseMortalite" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CauseMortalite" mixed="false">
		<xsd:sequence>
			<xsd:element name="CauseMort" type="CAUSEMORT:TypeCauseMort"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SortieOvinOuCaprin" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Evenement">
				<xsd:sequence>
					<xsd:element name="Acheteur" type="Organisation" minOccurs="0"/>
					<xsd:element name="DateSortieReelle" type="xsd:date" minOccurs="0"/>
					<xsd:element name="DateSortieConstatee" type="xsd:date" minOccurs="0"/>
					<xsd:element name="CauseSortie" type="CODECAUSESORTIE:TypeCodeCauseSortie"/>
					<xsd:element name="TypeReforme" type="CODETYPEREFORME:TypeCodeTypeReforme" minOccurs="0"/>
					<xsd:element name="CauseZootReforme" type="CODECAUSEZOOTREFORME:TypeCodeCauseZootReforme" minOccurs="0" maxOccurs="3"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--######elements de gestion des données élaborées ######-->
	<xsd:complexType name="DonneesElaborees" mixed="false">
		<xsd:sequence>
			<xsd:element name="Performances" type="Performance" minOccurs="0"/>
			<xsd:element name="IndexEtQualification" type="IndexEtQualification" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Performance" mixed="false">
		<xsd:sequence>
			<xsd:element name="Pesees" type="Pesee" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PATetGMQ" type="PATetGMQ" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Pesee" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Evenement">
				<xsd:sequence>
					<xsd:element name="DatePesee" type="xsd:date"/>
					<xsd:element name="CodeTypePesee" type="CODETYPEPESEE:TypeCodeTypePesee"/>
					<xsd:element name="PoidsHg" type="Nombre4Chiffres"/>
					<xsd:element name="TemoinAnomalieCroissance" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IndexEtQualification" mixed="false">
		<xsd:sequence>
			<xsd:element name="Index" type="Index" minOccurs="0"/>
			<xsd:element name="Qualification" type="Qualification" minOccurs="0"/>
			<xsd:element name="Pointage" type="Pointage" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PATetGMQ" mixed="false">
		<xsd:sequence>
			<xsd:element name="Note0030" type="Nombre4RelatifVide" minOccurs="0"/>
			<xsd:element name="Note1030" type="Nombre4RelatifVide" minOccurs="0"/>
			<xsd:element name="Note3070" type="Nombre4RelatifVide" minOccurs="0"/>
			<xsd:element name="PAT10" type="Nombre3Vide" minOccurs="0"/>
			<xsd:element name="PAT30" type="Nombre3Vide"/>
			<xsd:element name="PAT70" type="Nombre3Vide" minOccurs="0"/>
			<xsd:element name="GMQ0-30" type="Nombre4RelatifVide"/>
			<xsd:element name="CodeAnomalieCalculee" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="CodeAgnelage" type="Libelle06" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndexProlif" mixed="false">
		<xsd:sequence>
			<xsd:element name="IndexProlificite" type="Nombre3ChiffresRelatifs"/>
			<xsd:element name="CDIndexProl" type="Nombre3Chiffres"/>
			<xsd:element name="NbFillesIndexProl" type="Nombre4Chiffres"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndexVL" mixed="false">
		<xsd:sequence>
			<xsd:element name="IndexValeurLaitiere" type="Nombre3ChiffresRelatifs"/>
			<xsd:element name="CDIndexVL" type="Nombre3Chiffres"/>
			<xsd:element name="NbFillesIndexVL" type="Nombre4Chiffres"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndexCroissance" mixed="false">
		<xsd:sequence>
			<xsd:element name="IndexCroissance3070" type="Nombre3ChiffresRelatifs"/>
			<xsd:element name="CDIndexCroissance" type="Nombre3Chiffres"/>
			<xsd:element name="NbDescIndexCroissance" type="Nombre4Chiffres"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QualifJeune" mixed="false">
		<xsd:sequence>
			<xsd:element name="DateReconnaissance" type="xsd:date"/>
			<xsd:element name="CodeQualifReelJeune" type="CODEQUALIFJEUNE:TypeCodeQualifJeune"/>
			<xsd:element name="Defauts" type="Defaut" minOccurs="0" maxOccurs="3"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Defaut" mixed="false">
		<xsd:sequence>
			<xsd:element name="CodeDefaut" type="CODEDEFAUT:TypeCodeDefaut"/>
			<xsd:element name="NoteDefaut" type="Nombre1Chiffre" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Pointage" mixed="false">
		<xsd:sequence>
			<xsd:element name="DatePointage" type="xsd:date"/>
			<xsd:element name="CodePointage" type="Libelle02"/>
			<xsd:element name="NotePointage" type="Libelle03"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Index" mixed="false">
		<xsd:sequence>
			<xsd:element name="IndexProlif" type="IndexProlif" minOccurs="0"/>
			<xsd:element name="IndexVL" type="IndexVL" minOccurs="0"/>
			<xsd:element name="IndexCroissance" type="IndexCroissance" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Qualification" mixed="false">
		<xsd:sequence>
			<xsd:element name="QualifJeune" type="QualifJeune" minOccurs="0"/>
			<xsd:element name="QualifAdulte" type="CODEQUALIFADULTE:TypeCodeQualifAdulte" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--######elements de gestion de la renumerotation ######-->
	<xsd:complexType name="Renumerotation" mixed="false">
		<xsd:sequence>
			<xsd:element name="CodePays" type="CODEPAYS:TypeCodePays"/>
			<xsd:element name="NumeroOfficielAnimal" type="NumeroOfficielAnimal"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--######elements de gestion des luttes ######-->
	<xsd:complexType name="Lutte" mixed="false">
		<xsd:sequence>
			<xsd:element name="LotDeLutte" type="LotDeLutte" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BelierEnLutte" type="BelierEnLutte" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BrebisEnLutte" type="BrebisEnLutte" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LotDeLutte" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Evenement">
				<xsd:sequence>
					<xsd:element name="CodeLotLutte" type="Libelle07"/>
					<xsd:element name="DateDebutLutte" type="xsd:date"/>
					<xsd:element name="DateFinLutte" type="xsd:date"/>
					<xsd:element name="CodeReproduction" type="CODEMETHODEREPRODUCTION:TypeCodeMethodeReproduction"/>
					<xsd:element name="CodeLutteMain" type="xsd:boolean"/>
					<xsd:element name="NombreDeBrebis" type="Nombre4Chiffres" minOccurs="0"/>
					<xsd:element name="NombreDeBeliers" type="Nombre4Chiffres" minOccurs="0"/>
					<xsd:element name="CodeRacePereSuppose" type="CODERACEOVIN:TypeCodeRacePhenotypiqueOvin" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BelierEnLutte" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Evenement">
				<xsd:sequence>
					<xsd:element name="NumeroOfficielBelier" type="NumeroAnimal"/>
					<xsd:element name="CodeLotLutte" type="Libelle07"/>
					<xsd:element name="TypeBelier" type="TypeBelier"/>
					<xsd:element name="Utilisation" type="PeriodeUtilisation" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BrebisEnLutte" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Evenement">
				<xsd:sequence>
					<xsd:element name="NumeroOfficielBrebis" type="NumeroAnimal"/>
					<xsd:element name="CodeLotLutte" type="Libelle07"/>
					<xsd:choice>
						<xsd:element name="NumeroBelier" type="NumeroBelier" minOccurs="0"/>
						<xsd:element name="SuppressionBelier" minOccurs="0"/>
					</xsd:choice>
					<xsd:element name="DosePMSG" type="Nombre3Vide" minOccurs="0"/>
					<xsd:element name="TypeEponge" type="Libelle03Vide" minOccurs="0"/>
					<xsd:element name="Essai" type="Libelle02Vide" minOccurs="0"/>
					<xsd:element name="CodeInseminateur" type="Libelle03Vide" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NumeroBelier" mixed="false">
		<xsd:sequence>
			<xsd:element name="NumeroOfficielBelier" type="NumeroAnimal"/>
			<xsd:element name="CodeBelierIA" type="Libelle06Vide" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PeriodeUtilisation" mixed="false">
		<xsd:sequence>
			<xsd:element name="DateDebutUtilisation" type="xsd:date"/>
			<xsd:element name="DateFinUtilisation" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--formats des données du message EDEL ovins-->
	<xsd:simpleType name="Libelle01">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1"/>
			<xsd:pattern value="([0-9a-zA-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle02">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
			<xsd:pattern value="([0-9a-zA-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle03">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
			<xsd:pattern value="([0-9a-zA-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle3">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle04">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
			<xsd:pattern value="([0-9a-zA-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle05">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="5"/>
			<xsd:pattern value="([0-9a-zA-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle06">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="6"/>
			<xsd:pattern value="([0-9a-zA-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle07">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="7"/>
			<xsd:pattern value="([0-9a-zA-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle10">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
			<xsd:pattern value="([0-9a-zA-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle14">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="14"/>
			<xsd:pattern value="([0-9a-zA-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle15">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="15"/>
			<xsd:pattern value="([0-9a-zA-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle20">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
			<xsd:pattern value="([0-9a-zA-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle30">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
			<xsd:pattern value="([0-9a-zA-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle80">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre1Chiffre">
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="9"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre2Chiffres">
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="99"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre3Chiffres">
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="999"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre3ChiffresRelatifs">
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="999"/>
			<xsd:minInclusive value="-999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre4Chiffres">
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="9999"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre4ChiffresRelatifs">
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="9999"/>
			<xsd:minInclusive value="-9999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre5Chiffres">
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="99999"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeCodeAction">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INV"/>
			<xsd:enumeration value="CRE"/>
			<xsd:enumeration value="DEM"/>
			<xsd:enumeration value="INF"/>
			<xsd:enumeration value="MOD"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeBelier">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E">
				<xsd:annotation/>
			</xsd:enumeration>
			<xsd:enumeration value="I">
				<xsd:annotation/>
			</xsd:enumeration>
			<xsd:enumeration value="P">
				<xsd:annotation/>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NumeroOfficielAnimal">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="9"/>
			<xsd:maxLength value="14"/>
			<xsd:pattern value="([0-9a-zA-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre3Vide">
		<xsd:union memberTypes="Nombre3Chiffres">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre4Vide">
		<xsd:union memberTypes="Nombre4Chiffres">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre4RelatifVide">
		<xsd:union memberTypes="Nombre4ChiffresRelatifs">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="DateVide">
		<xsd:union memberTypes="xsd:date">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle01Vide">
		<xsd:union memberTypes="Libelle01">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle02Vide">
		<xsd:union memberTypes="Libelle02">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle03Vide">
		<xsd:union memberTypes="Libelle03">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle06Vide">
		<xsd:union memberTypes="Libelle06">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
</xsd:schema>
