lib/edi/idele/xsd/XMLNotificationDelegationOvinCaprinV104.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by adrien Debroux (Institut De L'Elevage) -->
<!-- version V104_1.4 modifiée du 19/03/2010 -->
<xsd:schema xmlns="http://www.inst-elevage.asso.fr/XML/Schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:FARMCATEGORY="urn:fr:agri:elevage:codelist:FarmCategory:1" xmlns:OCREGISTRATIONIDENTIFIANTTYPE="urn:fr:agri:elevage:codelist:OCRegistrationIdentifiantType:1" xmlns:OCANOMALYCODE="urn:fr:agri:elevage:codelist:OCAnomalyCode:1" xmlns:ns1="http://www.inst-elevage.asso.fr/XML/Schema" targetNamespace="http://www.inst-elevage.asso.fr/XML/Schema" version="1.0.4" xml:lang="fr">
	<xsd:import namespace="urn:fr:agri:elevage:codelist:FarmCategory:1" schemaLocation="FarmCategory.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:OCAnomalyCode:1" schemaLocation="OCAnomalyCode.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:OCRegistrationIdentifiantType:1" schemaLocation="OCRegistrationIdentifiantType.XSD"/>
	<xsd:element name="NotificationDelegationOvinCaprin" type="NotificationDelegationMouvementOvinCaprin"/>
	<xsd:simpleType name="Libelle11">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle20">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle14">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FormatCodePostal">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
			<xsd:minLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle12">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre5Chiffres">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LibelleCourt">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CodeActionEvenement">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INF"/>
			<xsd:enumeration value="INV"/>
			<xsd:enumeration value="CRE"/>
			<xsd:enumeration value="MOD"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RegistrationIdentifier">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle22">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre3Chiffres">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre10Chiffres">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:minLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle10">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="LienDelegation" mixed="false">
		<xsd:sequence>
			<xsd:element name="Immatriculation" type="Immatriculation"/>
			<xsd:element name="PeriodeActive" type="PeriodeActive" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LienDetention" mixed="false">
		<xsd:sequence>
			<xsd:element name="Entite" type="Entite"/>
			<xsd:element name="PeriodeActive" type="PeriodeActive" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LiensOrientesDelegataire" mixed="false">
		<xsd:sequence>
			<xsd:element name="Entite" type="Entite"/>
			<xsd:element name="Delegant" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="Circulation">
							<xsd:sequence>
								<xsd:element name="LienDelegation" type="LienDelegation"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Detention" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="Circulation">
							<xsd:sequence>
								<xsd:element name="LienDetention" type="LienDetention"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Correspondant" mixed="false">
		<xsd:sequence>
			<xsd:element name="NomDuCorrespondant" type="Libelle"/>
			<xsd:element name="NumeroTelephone" type="Nombre10Chiffres"/>
			<xsd:element name="AdresseCourriel" type="Libelle"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LiensOrientesDelegant" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Circulation">
				<xsd:sequence>
					<xsd:element name="Entite" type="Entite"/>
					<xsd:element name="Delegataire" type="LienDelegation" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Circulation" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="EvenementNotifie">
				<xsd:sequence>
					<xsd:element name="Createur" type="Organisation"/>
					<xsd:element name="Destinataire" type="Organisation"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DocumentGIEA" mixed="false">
		<xsd:sequence>
			<xsd:element name="Owner" type="Party">
				<xsd:annotation>
					<xsd:documentation><![CDATA[celui qui recoit le document]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Issuer" type="Party">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Celui qui emet le document]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Identification" type="Libelle"/>
			<xsd:element name="Name" type="Libelle12" default="NOTDLGOVCAP"/>
			<xsd:element name="Creation" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation><![CDATA[date et heure de creation du document]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LineCount" type="Nombre5Chiffres"/>
			<xsd:element name="EnTest" type="xsd:boolean"/>
			<xsd:element name="Urgent" type="xsd:boolean"/>
			<xsd:element name="DocumentOrigine" type="Libelle" minOccurs="0"/>
			<xsd:element name="FichierRejete" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="NbEvtErreur" type="Nombre5Chiffres" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PeriodeActive" mixed="false">
		<xsd:sequence>
			<xsd:element name="DateDebut" type="xsd:date"/>
			<xsd:element name="DateFin" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NatureDelegataire" mixed="false">
		<xsd:sequence>
			<xsd:element name="Immatriculation" type="Immatriculation" maxOccurs="2"/>
			<xsd:element name="Adresse" type="Adresse"/>
			<xsd:element name="Correspondant" type="Correspondant"/>
			<xsd:element name="CategorieActeur" type="FARMCATEGORY:FarmCategoryType"/>
			<xsd:element name="NomDuDelegataire" type="Libelle20"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GestionDelegataire" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Circulation">
				<xsd:sequence>
					<xsd:element name="Immatriculation" type="Immatriculation"/>
					<xsd:element name="NatureDelegataire" type="NatureDelegataire"/>
					<xsd:element name="DateVisaEdE" type="xsd:date"/>
					<xsd:element name="PeriodeActive" type="PeriodeActive" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Adresse" mixed="false">
		<xsd:sequence>
			<xsd:element name="LieuDit" type="Libelle" minOccurs="0"/>
			<xsd:element name="CodePostal" type="FormatCodePostal"/>
			<xsd:element name="Localite" type="Libelle"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Anomalie" mixed="false">
		<xsd:sequence>
			<xsd:element name="CodeAnomalie" type="OCANOMALYCODE:OCAnomalyCodeType"/>
			<xsd:element name="TypeAnomalie" type="xsd:string"/>
			<xsd:element name="LibelleAnomalie" type="Libelle"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Organisation" mixed="false">
		<xsd:sequence>
			<xsd:element name="Immatriculation" type="Immatriculation" maxOccurs="unbounded"/>
			<xsd:element name="NomOrganisation" type="Libelle" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Validation" mixed="false">
		<xsd:sequence>
			<xsd:element name="Anomalie" type="Anomalie" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Qualification" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Registration" mixed="false">
		<xsd:sequence>
			<xsd:element name="Identifier" type="RegistrationIdentifier"/>
			<xsd:element name="IdentifierType" type="OCREGISTRATIONIDENTIFIANTTYPE:OCRegistrationIdentifiantTypeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Evenement" mixed="false">
		<xsd:sequence>
			<xsd:element name="Identifiant" type="Libelle20"/>
			<xsd:element name="Commentaire" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Entite" mixed="false">
		<xsd:sequence>
			<xsd:element name="Immatriculation" type="Immatriculation"/>
			<xsd:element name="RaisonSociale" type="Libelle" minOccurs="0"/>
			<xsd:element name="CategorieActeur" type="FARMCATEGORY:FarmCategoryType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Immatriculation" mixed="false">
		<xsd:sequence>
			<xsd:element name="Identifiant" type="Libelle20"/>
			<xsd:element name="TypeIdentifiant" type="OCREGISTRATIONIDENTIFIANTTYPE:OCRegistrationIdentifiantTypeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NotificationDelegationMouvementOvinCaprin" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="DocumentGIEA">
				<xsd:sequence>
					<xsd:element name="GestionDelegataire" type="GestionDelegataire" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="LiensOrientesDelegataire" type="LiensOrientesDelegataire" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="LiensOrientesDelegant" type="LiensOrientesDelegant" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EvenementNotifie" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Evenement">
				<xsd:sequence>
					<xsd:element name="Validation" type="Validation" minOccurs="0"/>
					<xsd:element name="CodeAction" type="CodeActionEvenement"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Party" mixed="false">
		<xsd:sequence>
			<xsd:element name="Registration" type="Registration"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Detention" mixed="false">
		<xsd:sequence>
			<xsd:element name="Entite" type="Entite"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
