lib/edi/idele/xsd/XMLNotificationOvinCaprinV110.XSD

<?xml version='1.0' encoding="ISO-8859-1"?>
<xsd:schema version="1.1.0" xml:lang="fr" targetNamespace="http://www.inst-elevage.asso.fr/XML/Schema" xmlns="http://www.inst-elevage.asso.fr/XML/Schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:FARMCATEGORY="urn:fr:agri:elevage:codelist:FarmCategory:1" xmlns:NUMBERPLATECOUNTRYCODETYPE="urn:fr:agri:elevage:codelist:NumberPlateCountryCode:1" xmlns:OCREGISTRATIONIDENTIFIANTTYPE="urn:fr:agri:elevage:codelist:OCRegistrationIdentifiantType:1" xmlns:OCANOMALYCODE="urn:fr:agri:elevage:codelist:OCAnomalyCode:1">
  <xsd:import namespace="urn:fr:agri:elevage:codelist:FarmCategory:1" schemaLocation="FarmCategory.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:OCAnomalyCode:1" schemaLocation="OCAnomalyCode.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:OCRegistrationIdentifiantType:1" schemaLocation="OCRegistrationIdentifiantType.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:NumberPlateCountryCode:1" schemaLocation="NumberPlateCountryCode.XSD"/>
  <xsd:element name="NotificationMouvementOvinCaprin" type="NotificationMouvementLotOvinCaprin">
  </xsd:element>
  <xsd:simpleType name="Libelle12">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Nombre5Chiffres">
    <xsd:restriction base="xsd:long">
      <xsd:maxInclusive value="99999"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LibelleCourt">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeAnomalie">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="4"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="IdentifiantCircColl">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Nombre3Chiffres">
    <xsd:restriction base="xsd:integer">
      <xsd:maxInclusive value="999"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeTransporteur">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SocieteTransport"/>
      <xsd:enumeration value="Detenteur"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CodeActionEvenement">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MOD"/>
      <xsd:enumeration value="CRE"/>
      <xsd:enumeration value="INV"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RegistrationIdentifier">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="14"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle20Oblig">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle22">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="22"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeIdentifiantNumeroAnimal">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NumeroVisuel"/>
      <xsd:enumeration value="NumeroAncien"/>
      <xsd:enumeration value="CodeBarre"/>
      <xsd:enumeration value="LectureRFID"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LibelleOblig">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle12Oblig">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle8Oblig">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle22Oblig">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="22"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle14">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="14"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle20">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FormatCodePostal">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9] {5}"/>
      <xsd:length value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NumeroAnimal" mixed="false">
    <xsd:sequence>
      <xsd:element name="IdentifiantAnimal" type="Libelle22Oblig" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeIdentifiantAnimal" type="TypeIdentifiantNumeroAnimal" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListeAnimaux" mixed="false">
    <xsd:sequence>
      <xsd:element name="NumeroAnimal" type="NumeroAnimal" minOccurs="1" maxOccurs="unbounded">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Dechargement" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MouvementOvinCaprin">
        <xsd:sequence>
          <xsd:element name="ExploitationDeDechargement" type="Organisation" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="ListeMorts" type="ListeAnimaux" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="TemoinDelegation" type="xsd:boolean" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="CategorieActeur" type="FARMCATEGORY:FarmCategoryType" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="CamionvideApres" type="xsd:boolean" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="NombreMorts" type="Nombre3Chiffres" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="Observations" type="Libelle" minOccurs="0" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Personne" mixed="false">
    <xsd:sequence>
      <xsd:element name="Immatriculation" type="Immatriculation" minOccurs="0" maxOccurs="unbounded">
      </xsd:element>
      <xsd:element name="Adresse" type="Adresse" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NomDeFamille" type="LibelleOblig" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Prenom" type="LibelleOblig" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentGIEA" mixed="false">
    <xsd:sequence>
      <xsd:element name="Issuer" type="Party" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation><![CDATA[Celui qui emet le document]]></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Owner" type="Party" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation><![CDATA[celui qui recoit le document]]></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Identification" type="LibelleOblig" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Name" type="Libelle12Oblig" default="NOTMVTOVCAP" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Creation" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation><![CDATA[date et heure de creation du document]]></xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineCount" type="Nombre5Chiffres" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="EnTest" type="xsd:boolean" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Urgent" type="xsd:boolean" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DocumentOrigine" type="Libelle" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="FichierRejete" type="xsd:boolean" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NbEvtErreur" type="Nombre5Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Party" mixed="false">
    <xsd:sequence>
      <xsd:element name="Registration" type="Registration" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Adresse" mixed="false">
    <xsd:sequence>
      <xsd:element name="LieuDit" type="Libelle" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CodePostal" type="FormatCodePostal" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Localite" type="LibelleOblig" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Organisation" mixed="false">
    <xsd:sequence>
      <xsd:element name="Immatriculation" type="Immatriculation" minOccurs="1" maxOccurs="unbounded">
      </xsd:element>
      <xsd:element name="NomOrganisation" type="Libelle" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EvenementNotifie" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="Evenement">
        <xsd:sequence>
          <xsd:element name="Validation" type="Validation" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="CodeAction" type="CodeActionEvenement" minOccurs="1" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Anomalie" mixed="false">
    <xsd:sequence>
      <xsd:element name="CodeAnomalie" type="OCANOMALYCODE:OCAnomalyCodeType" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeAnomalie" type="TypeAnomalie" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LibelleAnomalie" type="LibelleOblig" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Destination" mixed="false">
    <xsd:sequence>
      <xsd:element name="OrganisationDetaillee" type="OrganisationDetaillee" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CategorieActeur" type="FARMCATEGORY:FarmCategoryType" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Provenance" mixed="false">
    <xsd:sequence>
      <xsd:element name="OrganisationDetaillee" type="OrganisationDetaillee" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CategorieActeur" type="FARMCATEGORY:FarmCategoryType" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Immatriculation" mixed="false">
    <xsd:sequence>
      <xsd:element name="Identifiant" type="Libelle20Oblig" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeIdentifiant" type="OCREGISTRATIONIDENTIFIANTTYPE:OCRegistrationIdentifiantTypeType" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Circulation" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="EvenementNotifie">
        <xsd:sequence>
          <xsd:element name="Createur" type="Organisation" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="Destinataire" type="Organisation" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="OrganisationTransport" type="OrganisationTransport" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="VehiculeUtilise" type="Vehicule" minOccurs="0" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NotificationMouvementLotOvinCaprin" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="DocumentGIEA">
        <xsd:sequence>
          <xsd:element name="CirculationOrienteeChargement" type="CirculationOrienteeChargement" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="CirculationOrienteeDechargement" type="CirculationOrienteeDechargement" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="Collecte" type="Collecte" minOccurs="0" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Validation" mixed="false">
    <xsd:sequence>
      <xsd:element name="Anomalie" type="Anomalie" minOccurs="0" maxOccurs="unbounded">
      </xsd:element>
      <xsd:element name="Qualification" type="xsd:boolean" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Chargement" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="MouvementOvinCaprin">
        <xsd:sequence>
          <xsd:element name="ExploitationChargement" type="Organisation" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="TemoinDelegation" type="xsd:boolean" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="CategorieActeur" type="FARMCATEGORY:FarmCategoryType" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="CamionVideAvant" type="xsd:boolean" minOccurs="0" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Registration" mixed="false">
    <xsd:sequence>
      <xsd:element name="Identifier" type="RegistrationIdentifier" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IdentifierType" type="OCREGISTRATIONIDENTIFIANTTYPE:OCRegistrationIdentifiantTypeType" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrganisationDetaillee" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="Organisation">
        <xsd:sequence>
          <xsd:element name="Adresse" type="Adresse" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="Personne" type="Personne" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="NumeroCertificat" type="Libelle22" minOccurs="0" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Collecte" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="EvenementNotifie">
        <xsd:sequence>
          <xsd:element name="Createur" type="Organisation" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="Destinataire" type="Organisation" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="OrganisationTransport" type="OrganisationTransport" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="Vehicule" type="Vehicule" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="Chargement" type="Chargement" minOccurs="1" maxOccurs="unbounded">
          </xsd:element>
          <xsd:element name="Dechargement" type="Dechargement" minOccurs="1" maxOccurs="unbounded">
          </xsd:element>
          <xsd:element name="DateDebut" type="xsd:date" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="HeureDebut" type="xsd:time" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="DateFin" type="xsd:date" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="HeureFin" type="xsd:time" minOccurs="0" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganisationTransport" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="Organisation">
        <xsd:sequence>
          <xsd:element name="TypeTransporteur" type="TypeTransporteur" minOccurs="0" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CirculationOrienteeChargement" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="Circulation">
        <xsd:sequence>
          <xsd:element name="Chargement" type="Chargement" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="Destination" type="Destination" minOccurs="1" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CirculationOrienteeDechargement" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="Circulation">
        <xsd:sequence>
          <xsd:element name="Dechargement" type="Dechargement" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="Provenance" type="Provenance" minOccurs="1" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MouvementOvinCaprin" abstract="true" mixed="false">
    <xsd:sequence>
      <xsd:element name="ListeOvins" type="ListeAnimaux" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="ListeCaprins" type="ListeAnimaux" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Date" type="xsd:date" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Heure" type="xsd:time" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreOvins" type="Nombre3Chiffres" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreCaprins" type="Nombre3Chiffres" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vehicule" mixed="false">
    <xsd:sequence>
      <xsd:element name="CodePaysMineralogique" type="NUMBERPLATECOUNTRYCODETYPE:NumberPlateCountryCodeType" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NumeroMineralogique" type="Libelle8Oblig" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeVehicule" type="Libelle" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Evenement" mixed="false">
    <xsd:sequence>
      <xsd:element name="Identifiant" type="IdentifiantCircColl" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Commentaire" type="Libelle" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>