lib/edi/idele/xsd/XMLNotificationOvinCaprinV2.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by adrien Debroux (Institut De L'Elevage) -->
<!-- Version V2 cree du 07/02/2012 -->
<xsd:schema xmlns="http://www.idele.fr/XML/Schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:FARMCATEGORY="urn:fr:agri:elevage:codelist:FarmCategory:1" xmlns:NUMBERPLATECOUNTRYCODETYPE="urn:fr:agri:elevage:codelist:NumberPlateCountryCode:1" xmlns:CODEPAYSANIMAL="urn:fr:agri:elevage:codelist:CodePaysAnimal:1" xmlns:OCREGISTRATIONIDENTIFIANTTYPE="urn:fr:agri:elevage:codelist:OCRegistrationIdentifiantType:1" xmlns:OCANOMALYCODE="urn:fr:agri:elevage:codelist:OCAnomalyCode:1" xmlns:CAUSESORTIEOC="urn:fr:agri:elevage:codelist:CauseSortieOC:1" xmlns:CAUSEENTREEOC="urn:fr:agri:elevage:codelist:CauseEntreeOC:1" targetNamespace="http://www.idele.fr/XML/Schema" version="2" xml:lang="fr">
	<xsd:import namespace="urn:fr:agri:elevage:codelist:FarmCategory:1" schemaLocation="FarmCategory.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:OCAnomalyCode:1" schemaLocation="OCAnomalyCode.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:OCRegistrationIdentifiantType:1" schemaLocation="OCRegistrationIdentifiantType.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CauseEntreeOC:1" schemaLocation="CauseEntreeOC.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CauseSortieOC:1" schemaLocation="CauseSortieOC.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:NumberPlateCountryCode:1" schemaLocation="NumberPlateCountryCode.XSD"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodePaysAnimal:1" schemaLocation="CodePaysAnimal.XSD"/>
	<xsd:element name="NotificationMouvementOvinCaprin" type="NotificationMouvementLotOvinCaprin"/>
	<xsd:simpleType name="Nombre5Chiffres">
		<xsd:restriction base="xsd:long">
			<xsd:maxInclusive value="99999"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LibelleCourt">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeAnomalie">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CodeEspece">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="O"/>
			<xsd:enumeration value="C"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CodeAcquisition">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="P">
				<xsd:annotation>
					<xsd:documentation>saisie manuelle</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="W">
				<xsd:annotation>
					<xsd:documentation>portail web</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="L">
				<xsd:annotation>
					<xsd:documentation>logiciel detenteur</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:documentation>délégataire</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IdentifiantCircColl">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Nombre4Chiffres">
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="9999"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeTransporteur">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SocieteTransport"/>
			<xsd:enumeration value="Detenteur"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CodeActionEvenement">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MOD"/>
			<xsd:enumeration value="CRE"/>
			<xsd:enumeration value="INV"/>
			<xsd:enumeration value="INF"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RegistrationIdentifier">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle20Oblig">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle22">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="22"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TypeIdentifiantNumeroAnimal">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E">
				<xsd:annotation>
					<xsd:documentation>numéro RFID</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="V">
				<xsd:annotation>
					<xsd:documentation>numéro visuel</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LibelleOblig">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle12">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
			<xsd:minLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle8Oblig">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle13Oblig">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="13"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle14">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Libelle20">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FormatCodePostal">
		<xsd:restriction base="xsd:string">
			<xsd:length value="5"/>
			<xsd:pattern value="[0-9]{5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="NumeroAnimal" mixed="false">
		<xsd:sequence>
			<xsd:element name="CodePays" type="CODEPAYSANIMAL:TypeCodePaysAnimal"/>
			<xsd:element name="IdentifiantAnimal" type="Libelle12"/>
			<xsd:element name="TypeIdentifiantAnimal" type="TypeIdentifiantNumeroAnimal"/>
			<xsd:element name="CodeEspece" type="CodeEspece" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListeAnimaux" mixed="false">
		<xsd:sequence>
			<xsd:element name="NumeroAnimal" type="NumeroAnimal" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Dechargement" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="MouvementOvinCaprinDechargement">
				<xsd:sequence>
					<xsd:element name="ExploitationDeDechargement" type="Organisation"/>
					<xsd:element name="TemoinDelegation" type="xsd:boolean"/>
					<xsd:element name="CategorieActeur" type="FARMCATEGORY:FarmCategoryType"/>
					<xsd:element name="CamionvideApres" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="NombreMorts" type="Nombre4Chiffres"/>
					<xsd:element name="ListeMorts" type="ListeAnimaux" minOccurs="0"/>
					<xsd:element name="Observations" type="Libelle" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Personne" mixed="false">
		<xsd:sequence>
			<xsd:element name="Immatriculation" type="Immatriculation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Adresse" type="Adresse" minOccurs="0"/>
			<xsd:element name="NomDeFamille" type="LibelleOblig"/>
			<xsd:element name="Prenom" type="LibelleOblig"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentGIEA" mixed="false">
		<xsd:sequence>
			<xsd:element name="Owner" type="Party">
				<xsd:annotation>
					<xsd:documentation><![CDATA[celui qui recoit le document]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Issuer" type="Party">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Celui qui emet le document]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Identification" type="LibelleOblig"/>
			<xsd:element name="Name" type="Libelle12" default="NOTMVTOVCAP"/>
			<xsd:element name="Creation" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation><![CDATA[date et heure de creation du document]]></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LineCount" type="Nombre5Chiffres"/>
			<xsd:element name="EnTest" type="xsd:boolean"/>
			<xsd:element name="Urgent" type="xsd:boolean"/>
			<xsd:element name="DocumentOrigine" type="Libelle" minOccurs="0"/>
			<xsd:element name="FichierRejete" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="NbEvtErreur" type="Nombre5Chiffres" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Party" mixed="false">
		<xsd:sequence>
			<xsd:element name="Registration" type="Registration"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Adresse" mixed="false">
		<xsd:sequence>
			<xsd:element name="LieuDit" type="Libelle" minOccurs="0"/>
			<xsd:element name="CodePostal" type="FormatCodePostal"/>
			<xsd:element name="Localite" type="LibelleOblig"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Organisation" mixed="false">
		<xsd:sequence>
			<xsd:element name="Immatriculation" type="Immatriculation" maxOccurs="unbounded"/>
			<xsd:element name="NomOrganisation" type="Libelle" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EvenementNotifie" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Evenement">
				<xsd:sequence>
					<xsd:element name="Validation" type="Validation" minOccurs="0"/>
					<xsd:element name="CodeAction" type="CodeActionEvenement"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Anomalie" mixed="false">
		<xsd:sequence>
			<xsd:element name="CodeAnomalie" type="OCANOMALYCODE:OCAnomalyCodeType"/>
			<xsd:element name="TypeAnomalie" type="TypeAnomalie"/>
			<xsd:element name="LibelleAnomalie" type="LibelleOblig"/>
			<xsd:element name="DetailAnomalie" type="DetailAnomalie" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DetailAnomalie" mixed="false">
		<xsd:sequence>
			<xsd:element name="Exploitation" type="Organisation"/>
			<xsd:element name="NumeroAnimal" type="NumeroAnimal" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Destination" mixed="false">
		<xsd:sequence>
			<xsd:element name="OrganisationDetaillee" type="OrganisationDetaillee"/>
			<xsd:element name="CategorieActeur" type="FARMCATEGORY:FarmCategoryType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Provenance" mixed="false">
		<xsd:sequence>
			<xsd:element name="OrganisationDetaillee" type="OrganisationDetaillee"/>
			<xsd:element name="CategorieActeur" type="FARMCATEGORY:FarmCategoryType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Immatriculation" mixed="false">
		<xsd:sequence>
			<xsd:element name="Identifiant" type="Libelle20Oblig"/>
			<xsd:element name="TypeIdentifiant" type="OCREGISTRATIONIDENTIFIANTTYPE:OCRegistrationIdentifiantTypeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Circulation" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="EvenementNotifie">
				<xsd:sequence>
					<xsd:element name="Createur" type="Organisation"/>
					<xsd:element name="Destinataire" type="Organisation"/>
					<xsd:element name="DateReceptionNotification" type="xsd:date" minOccurs="0"/>
					<xsd:element name="ModeAcquisition" type="CodeAcquisition" minOccurs="0"/>
					<xsd:element name="OrganisationTransport" type="OrganisationTransport" minOccurs="0"/>
					<xsd:element name="VehiculeUtilise" type="Vehicule" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotificationMouvementLotOvinCaprin" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="DocumentGIEA">
				<xsd:sequence>
					<xsd:element name="CirculationOrienteeChargement" type="CirculationOrienteeChargement" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="CirculationOrienteeDechargement" type="CirculationOrienteeDechargement" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Collecte" type="Collecte" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Validation" mixed="false">
		<xsd:sequence>
			<xsd:element name="Anomalie" type="Anomalie" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Qualification" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Chargement" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="MouvementOvinCaprinChargement">
				<xsd:sequence>
					<xsd:element name="ExploitationChargement" type="Organisation"/>
					<xsd:element name="TemoinDelegation" type="xsd:boolean"/>
					<xsd:element name="CategorieActeur" type="FARMCATEGORY:FarmCategoryType"/>
					<xsd:element name="CamionVideAvant" type="xsd:boolean" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Registration" mixed="false">
		<xsd:sequence>
			<xsd:element name="Identifier" type="RegistrationIdentifier"/>
			<xsd:element name="IdentifierType" type="OCREGISTRATIONIDENTIFIANTTYPE:OCRegistrationIdentifiantTypeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganisationDetaillee" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Organisation">
				<xsd:sequence>
					<xsd:element name="Personne" type="Personne" minOccurs="0"/>
					<xsd:element name="Adresse" type="Adresse" minOccurs="0"/>
					<xsd:element name="NumeroCertificat" type="Libelle22" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Collecte" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="EvenementNotifie">
				<xsd:sequence>
					<xsd:element name="Createur" type="Organisation"/>
					<xsd:element name="Destinataire" type="Organisation"/>
					<xsd:element name="DateReceptionNotification" type="xsd:date" minOccurs="0"/>
					<xsd:element name="ModeAcquisition" type="CodeAcquisition" minOccurs="0"/>
					<xsd:element name="OrganisationTransport" type="OrganisationTransport" minOccurs="0"/>
					<xsd:element name="Vehicule" type="Vehicule" minOccurs="0"/>
					<xsd:element name="Chargement" type="Chargement" maxOccurs="unbounded"/>
					<xsd:element name="Dechargement" type="Dechargement" maxOccurs="unbounded"/>
					<xsd:element name="DateDebut" type="xsd:date" minOccurs="0"/>
					<xsd:element name="HeureDebut" type="xsd:time" minOccurs="0"/>
					<xsd:element name="DateFin" type="xsd:date" minOccurs="0"/>
					<xsd:element name="HeureFin" type="xsd:time" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganisationTransport" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Organisation">
				<xsd:sequence>
					<xsd:element name="TypeTransporteur" type="TypeTransporteur" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CirculationOrienteeChargement" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Circulation">
				<xsd:sequence>
					<xsd:element name="Chargement" type="Chargement"/>
					<xsd:element name="Destination" type="Destination"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CirculationOrienteeDechargement" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="Circulation">
				<xsd:sequence>
					<xsd:element name="Dechargement" type="Dechargement"/>
					<xsd:element name="Provenance" type="Provenance"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MouvementOvinCaprinChargement" mixed="false">
		<xsd:sequence>
			<xsd:element name="Date" type="xsd:date"/>
			<xsd:element name="Heure" type="xsd:time" minOccurs="0"/>
			<xsd:element name="NombreOvins" type="Nombre4Chiffres"/>
			<xsd:element name="NombreCaprins" type="Nombre4Chiffres"/>
			<xsd:element name="AnimauxDerogataires" type="AnimauxDerogatairesChargement"/>
			<xsd:element name="AnimauxNonDerogataires" type="AnimauxNonDerogatairesChargement"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AnimauxDerogatairesChargement" mixed="false">
		<xsd:sequence>
			<xsd:element name="NombreOvinsDerogataires" type="Nombre4Chiffres"/>
			<xsd:element name="ListeOvins" type="ListeAnimaux" minOccurs="0"/>
			<xsd:element name="NombreCaprinsDerogataires" type="Nombre4Chiffres"/>
			<xsd:element name="ListeCaprins" type="ListeAnimaux" minOccurs="0"/>
			<xsd:element name="CauseSortie" type="CAUSESORTIEOC:CauseSortieOCType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AnimauxNonDerogatairesChargement" mixed="false">
		<xsd:sequence>
			<xsd:element name="NombreOvinsNonDerogataires" type="Nombre4Chiffres"/>
			<xsd:element name="ListeOvins" type="ListeAnimaux" minOccurs="0"/>
			<xsd:element name="NombreCaprinsNonDerogataires" type="Nombre4Chiffres"/>
			<xsd:element name="ListeCaprins" type="ListeAnimaux" minOccurs="0"/>
			<xsd:element name="CauseSortie" type="CAUSESORTIEOC:CauseSortieOCType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MouvementOvinCaprinDechargement" mixed="false">
		<xsd:sequence>
			<xsd:element name="Date" type="xsd:date"/>
			<xsd:element name="Heure" type="xsd:time" minOccurs="0"/>
			<xsd:element name="NombreOvins" type="Nombre4Chiffres"/>
			<xsd:element name="NombreCaprins" type="Nombre4Chiffres"/>
			<xsd:element name="AnimauxDerogataires" type="AnimauxDerogatairesDechargement"/>
			<xsd:element name="AnimauxNonDerogataires" type="AnimauxNonDerogatairesDechargement"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AnimauxDerogatairesDechargement" mixed="false">
		<xsd:sequence>
			<xsd:element name="NombreOvinsDerogataires" type="Nombre4Chiffres"/>
			<xsd:element name="ListeOvins" type="ListeAnimaux" minOccurs="0"/>
			<xsd:element name="NombreCaprinsDerogataires" type="Nombre4Chiffres"/>
			<xsd:element name="ListeCaprins" type="ListeAnimaux" minOccurs="0"/>
			<xsd:element name="CauseEntree" type="CAUSEENTREEOC:CauseEntreeOCType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AnimauxNonDerogatairesDechargement" mixed="false">
		<xsd:sequence>
			<xsd:element name="NombreOvinsNonDerogataires" type="Nombre4Chiffres"/>
			<xsd:element name="ListeOvins" type="ListeAnimaux" minOccurs="0"/>
			<xsd:element name="NombreCaprinsNonDerogataires" type="Nombre4Chiffres"/>
			<xsd:element name="ListeCaprins" type="ListeAnimaux" minOccurs="0"/>
			<xsd:element name="CauseEntree" type="CAUSEENTREEOC:CauseEntreeOCType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Vehicule" mixed="false">
		<xsd:sequence>
			<xsd:element name="CodePaysMineralogique" type="NUMBERPLATECOUNTRYCODETYPE:NumberPlateCountryCodeType"/>
			<xsd:element name="NumeroMineralogique" type="Libelle8Oblig"/>
			<xsd:element name="TypeVehicule" type="Libelle" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Evenement" mixed="false">
		<xsd:sequence>
			<xsd:element name="Identifiant" type="IdentifiantCircColl"/>
			<xsd:element name="Commentaire" type="Libelle" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
