lib/ekylibre/tele/idele/assets/XMLDonneesMalesPublics_V202.XSD

<?xml version='1.0'?>
<xsd:schema version="2.02" xml:lang="fr" targetNamespace="http://www.inst-elevage.asso.fr/XML/Schema" xmlns="http://www.inst-elevage.asso.fr/XML/Schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:CODETYPEANOMALIETYPE="urn:fr:agri:elevage:codelist:CodeTypeAnomalie:1" xmlns:CODETYPEDEMANDETYPE="urn:fr:agri:elevage:codelist:CodeTypeDemande:1" xmlns:CODEANOMALIETYPE="urn:fr:agri:elevage:codelist:CodeAnomalie:1" xmlns:CODEPAYSTYPE="urn:fr:agri:elevage:codelist:CodePays:1" xmlns:CODEINDEXASCENDANCE="urn:fr:agri:elevage:codelist:CodeIndexAscendance:1" xmlns:CODETYPEINDEX="urn:fr:agri:elevage:codelist:CodeTypeIndex:1" xmlns:CODETYPEBASEINDEXATION="urn:fr:agri:elevage:codelist:CodeTypeBaseIndexation:1" xmlns:CODEANIMALEVALUE="urn:fr:agri:elevage:codelist:CodeAnimalEvalue:1" xmlns:CODETYPEPROGRAMME="urn:fr:agri:elevage:codelist:CodeTypeProgramme:1" xmlns:REGISTRATIONIDENTIFIANTTYPE="urn:fr:agri:elevage:codelist:RegistrationIdentifiantType:1" xmlns:CODERACEBOVINETYPE="urn:fr:agri:elevage:codelist:CodeRaceBovin:1" xmlns:CODETYPEPROGRAMMEAGREMENTTYPE="urn:fr:agri:elevage:codelist:CodeTypeProgrammeAgrement:1" xmlns:CODEDECLARATIONINITIALETYPE="urn:fr:agri:elevage:codelist:CodeDeclarationInitialeMale:1">
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeTypeAnomalie:1" schemaLocation="CodeTypeAnomalie.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeTypeDemande:1" schemaLocation="CodeTypeDemande.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeAnomalie:1" schemaLocation="CodeAnomalie.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodePays:1" schemaLocation="CodePays.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:RegistrationIdentifiantType:1" schemaLocation="RegistrationIdentifiantType.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeRaceBovin:1" schemaLocation="CodeRaceBovin.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeTypeProgrammeAgrement:1" schemaLocation="CodeTypeProgrammeAgrement.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeDeclarationInitialeMale:1" schemaLocation="CodeDeclarationInitialeMale.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeTypeBaseIndexation:1" schemaLocation="CodeTypeBaseIndexation.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeTypeIndex:1" schemaLocation="CodeTypeIndex.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeTypeProgramme:1" schemaLocation="CodeTypeProgramme.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeIndexAscendance:1" schemaLocation="CodeIndexAscendance.XSD"/>
  <xsd:import namespace="urn:fr:agri:elevage:codelist:CodeAnimalEvalue:1" schemaLocation="CodeAnimalEvalue.XSD"/>
  <xsd:element name="DonneesMalesPublics" type="DonneesMalesPublics">
  </xsd:element>
  <xsd:simpleType name="Nombre4Chiffres">
    <xsd:restriction base="xsd:integer">
      <xsd:maxInclusive value="9999"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Decimal3_1">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="3"/>
      <xsd:maxInclusive value="99.9"/>
      <xsd:fractionDigits value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle1">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Nombre6Chiffres">
    <xsd:restriction base="xsd:long">
      <xsd:maxInclusive value="999999"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Nombre2Chiffres">
    <xsd:restriction base="xsd:integer">
      <xsd:maxInclusive value="99"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeCodeSexe">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle80">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle4">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle10">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Decimal4_1">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="4"/>
      <xsd:maxInclusive value="999.9"/>
      <xsd:fractionDigits value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Libelle2">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Nombre3Chiffres">
    <xsd:restriction base="xsd:integer">
      <xsd:maxInclusive value="999"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TypeCodeAction">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MOD"/>
      <xsd:enumeration value="DEM"/>
      <xsd:enumeration value="INF"/>
      <xsd:enumeration value="INV"/>
      <xsd:enumeration value="CRE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Decimal3_2">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="3"/>
      <xsd:maxInclusive value="9.99"/>
      <xsd:fractionDigits value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DonneesMalesPublics" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="Document">
        <xsd:sequence>
          <xsd:element name="ServiceEchangeDonnees" type="ServiceDemande" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="PeriodeEnregistrementDonnees" type="PeriodeEnregistrementDonnees" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="DeclarationInitialeMalePublic" type="DeclarationInitialeMalePublic" minOccurs="0" maxOccurs="unbounded">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IndexProductionLaitiere" mixed="false">
    <xsd:sequence>
      <xsd:element name="ReferenceIndex" type="Libelle4" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CodeRaceIndexation" type="CODERACEBOVINETYPE:TypeCodeRaceBovin" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDINEL" type="Nombre2Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="INEL" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexTauxProteique" type="Decimal3_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexTauxButyreux" type="Decimal3_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexMatiereGrasse" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexMatiereProteique" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexLait" type="Nombre4Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreFillesINdexLait" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreCheptelsIndexLait" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeIndex" type="CODETYPEINDEX:TypeCodeTypeIndex" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndexMammite" mixed="false">
    <xsd:sequence>
      <xsd:element name="CodeRaceIndexation" type="CODERACEBOVINETYPE:TypeCodeRaceBovin" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="ReferendeIndex" type="Libelle4" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIndexMammiteClinique" type="Nombre2Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexMammiteClinique" type="Decimal3_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeIndex" type="CODETYPEINDEX:TypeCodeTypeIndex" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndexFertilite" mixed="false">
    <xsd:sequence>
      <xsd:element name="ReferenceIndex" type="Libelle4" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CodeRaceIndexation" type="CODERACEBOVINETYPE:TypeCodeRaceBovin" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIndexFertiliteElementaire" type="Nombre2Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexFertiliteElemenatire" type="Decimal3_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeIndex" type="CODETYPEINDEX:TypeCodeTypeIndex" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDINdexFertiliteGenisses" type="Nombre2Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexFertiliteGenisses" type="Decimal3_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIndexFertiliteVelageIA" type="Nombre2Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexFertiliteVelageIA" type="Decimal3_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndexVitalite" mixed="false">
    <xsd:sequence>
      <xsd:element name="CodeRaceIndexation" type="CODERACEBOVINETYPE:TypeCodeRaceBovin" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="ReferenceIndex" type="Libelle4" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIndexVitaliteNaissance" type="Nombre2Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexVitaliteNaissance" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIndexVitaliteVelage" type="Nombre2Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexVitaliteVelage" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeIndex" type="CODETYPEINDEX:TypeCodeTypeIndex" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndexLongevite" mixed="false">
    <xsd:sequence>
      <xsd:element name="ReferenceIndex" type="Libelle4" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CodeRaceIndexation" type="CODERACEBOVINETYPE:TypeCodeRaceBovin" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIndexLongeviteFonctionnelle" type="Nombre2Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexLongeviteFonctionnelle" type="Decimal3_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeIndex" type="CODETYPEINDEX:TypeCodeTypeIndex" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndexCDQualitesMaternelles" mixed="false">
    <xsd:sequence>
      <xsd:element name="BaseReference" type="Libelle10" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CRqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCRqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DMqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDDMqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DSqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDDSqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="AFqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDAFqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="QRqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDQRqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="HGqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDHGqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="PRECqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDPRECqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="RIAqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDRIAqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="VIEqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDVIEqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TXTDIFqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDTXTDIFqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="MERPNqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDMERPNqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="PREPqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDPREPqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="PVELqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDPVELqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="OPqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDOPqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="PLAITqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDPLAITqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="MERP4qms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDMERP4qms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="MERP6qms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDMERP6qms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="MERDMqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDMERDMqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IMOCRqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIMOCRqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IFERqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIFERqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IVELqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIVELqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IMERqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIMERqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IQMqms" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIQMqms" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DEEqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LADqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="ARCqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LACqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="EPDqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="GRCqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LODqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LOBqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LAHqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DEVqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TETqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="AAVqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="AARqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="REDqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="ETAqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LOCqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LATqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LAPqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="PPOqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="HARqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="POIqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LAIqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="BASqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="EXTqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="COUqms" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndexControleStationsSECI" mixed="false">
    <xsd:sequence>
      <xsd:element name="CodeStation" type="Libelle3" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CodeRaceProgramme" type="CODERACEBOVINETYPE:TypeCodeRaceBovin" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeProgramme" type="CODETYPEPROGRAMME:TypeCodeTypeProgramme" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CampagneEntreeStation" type="Libelle4" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NumeroSerieCampagne" type="Libelle1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndicateurAnimalEvalue" type="CODEANIMALEVALUE:TypeCodeAnimalEvalue" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="BaseReference" type="Libelle10" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CRseCRci" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCRseCRci" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="VOSseVOSci" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDVOSseVOSci" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="EFAci" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDEFAci" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DMseDMci" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDDMseDMci" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DSseDSci" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDDSseDSci" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="AFseAFci" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDAFseAFci" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="QRseQRci" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDQRseQRci" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IABVseIABVci" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIABVseIABVci" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IMOCRseIMOCRci" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIMOCRseIMOCRci" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndexIBOVAL" mixed="false">
    <xsd:sequence>
      <xsd:element name="IBOVALCarcasse" type="IBOVALCarcasse" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IBOVALPostePointage" type="IBOVALPostePointage" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IBOVALSevrage" type="IBOVALSevrage" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IBOVALCroissancePostSevrage" type="IBOVALCroissancePostSevrage" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CodeRaceIndexation" type="CODERACEBOVINETYPE:TypeCodeRaceBovin" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="AnneeIndexation" type="Libelle4" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="RangIndexation" type="Libelle2" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LibelleBaseReference" type="Libelle10" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndexCDFaciliteNaissance" mixed="false">
    <xsd:sequence>
      <xsd:element name="BaseReference" type="Libelle10" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="FNtest" type="Nombre3Chiffres" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDFNtest" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IBOVALPostePointage" mixed="false">
    <xsd:sequence>
      <xsd:element name="DEEse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LADse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LACse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="ARCse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="EPDse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="GRCse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LODse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LOBse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LAHse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DEVse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TETse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="AAVse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="AARse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="REDse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="ETAse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LOCse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LATse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LAPse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="PPOse3" type="Libelle3" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IBOVALCarcasse" mixed="false">
    <xsd:sequence>
      <xsd:element name="ICRCjbfBase100" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCRCjbf" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CONFjbf" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCONFjbf" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IABjbfEuros" type="Decimal4_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IABjbfBase100" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIABjbf" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombrePCUtilises" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreConformationsUtilisees" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IBOVALSevrage" mixed="false">
    <xsd:sequence>
      <xsd:element name="TypeBaseIndexation" type="CODETYPEBASEINDEXATION:TypeCodeTypeBaseIndexation" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IFNAIS" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIFNAIS" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CRsevKg" type="Decimal3_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CRsevBase100" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCRsev" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DMsevPoints" type="Decimal3_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DMsevBase100" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDDMsev" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DSsevPoints" type="Decimal3_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DSsevBase100" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDDSsev" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="ALaitKg" type="Decimal3_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="ALaitBase100" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDALait" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="MERPsevKg" type="Decimal3_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="MERPsevBase100" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDMERPsev" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="ISEVR" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDISEVR" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IVMAT" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIVMAT" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="AVEL" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDAVEL" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="FOSsevBase100" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDFOSsev" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndicateurIndexAscendance" type="CODEINDEXASCENDANCE:TypeCodeIndexAscendance" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreCampagnesUtilisation" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreProduitsUtilises" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreProduitsConnectesUtilises" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreTroupeaux" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreTroupeauxCampagnes" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreTroupeauxCampagnesConnectes" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreFillesAvecProduit" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombrePetitsProduits" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombrePetitsProduitsConnectes" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Party" mixed="false">
    <xsd:sequence>
      <xsd:element name="Registration" type="Registration" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EvenementNotifie" mixed="false">
    <xsd:sequence>
      <xsd:element name="Validation" type="Validation" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Createur" type="Organisation" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Destinataire" type="Organisation" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CodeAction" type="TypeCodeAction" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Organisation" mixed="false">
    <xsd:sequence>
      <xsd:element name="Immatriculation" type="Immatriculation" minOccurs="1" maxOccurs="unbounded">
      </xsd:element>
      <xsd:element name="Nom" type="Libelle80" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Validation" mixed="false">
    <xsd:sequence>
      <xsd:element name="Anomalie" type="Anomalie" minOccurs="0" maxOccurs="unbounded">
      </xsd:element>
      <xsd:element name="Qualification" type="xsd:boolean" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Anomalie" mixed="false">
    <xsd:sequence>
      <xsd:element name="CodeAnomalie" type="CODEANOMALIETYPE:TypeCodeAnomalie" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeAnomalie" type="CODETYPEANOMALIETYPE:TypeCodeTypeAnomalie" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LibelleAnomalie" type="Libelle80" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeclarationInitialeMalePublic" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="Evenement">
        <xsd:sequence>
          <xsd:element name="TaureauReproducteur" type="TaureauReproducteur" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="EntrepriseSelectionDeclarante" type="Organisation" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="TypeDeclarationInitiale" type="CODEDECLARATIONINITIALETYPE:TypeCodeDeclarationInitialeMale" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="ValiditeDeclarationInitiale" type="xsd:boolean" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="TypeProgrammeAgrement" type="CODETYPEPROGRAMMEAGREMENTTYPE:TypeCodeTypeProgrammeAgrement" minOccurs="0" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Evenement" mixed="false">
    <xsd:complexContent mixed="false">
      <xsd:extension base="EvenementNotifie">
        <xsd:sequence>
          <xsd:element name="Identifiant" type="Libelle80" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="DateDebut" type="xsd:date" minOccurs="1" maxOccurs="1">
          </xsd:element>
          <xsd:element name="DateFin" type="xsd:date" minOccurs="0" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TaureauReproducteur" mixed="false">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Taureau reproducteur
]]></xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="Bovin">
        <xsd:sequence>
          <xsd:element name="IndexCDABJeunesBovins" type="IndexCDABJeunesBovins" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="IndexCDFaciliteNaissance" type="IndexCDFaciliteNaissance" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="IndexCDMuscularitePrecoce" type="IndexCDMuscularitePrecoce" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="IndexCDQualitesMaternelles" type="IndexCDQualitesMaternelles" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="IndexCDVeauBoucherie" type="IndexCDVeauBoucherie" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="IndexCellules" type="IndexCellules" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="IndexControleStationsSECI" type="IndexControleStationsSECI" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="IndexFertilite" type="IndexFertilite" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="IndexIBOVAL" type="IndexIBOVAL" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="IndexLongevite" type="IndexLongevite" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="IndexMammite" type="IndexMammite" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="IndexProductionLaitiere" type="IndexProductionLaitiere" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="IndexFaciliteVelageNaissance" type="IndexFaciliteVelageNaissance" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="IndexVitalite" type="IndexVitalite" minOccurs="0" maxOccurs="1">
          </xsd:element>
          <xsd:element name="NumeroIETaureau" type="Libelle80" minOccurs="1" maxOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Document" mixed="false">
    <xsd:sequence>
      <xsd:element name="Owner" type="Party" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Issuer" type="Party" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Identification" type="Libelle80" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Name" type="Libelle80" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Creation" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="LineCount" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="EnTest" type="xsd:boolean" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IBOVALCroissancePostSevrage" mixed="false">
    <xsd:sequence>
      <xsd:element name="TypeBaseIndexation" type="CODETYPEBASEINDEXATION:TypeCodeTypeBaseIndexation" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CRpsfKg" type="Decimal4_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CRpsfBase100" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCRpsf" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreCroissancesUtilisees" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Immatriculation" mixed="false">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Immatriculation]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Identifiant" type="Libelle80" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeIdentifiant" type="REGISTRATIONIDENTIFIANTTYPE:RegistrationIdentifiantTypeType" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bovin" mixed="false">
    <xsd:sequence>
      <xsd:element name="PereCertifie" type="Bovin" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="MereCertifiee" type="Bovin" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Identite" type="Identite" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CodePays" type="CODEPAYSTYPE:TypeCodePays" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NumeroNationalAnimal" type="Libelle80" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identite" mixed="false">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Identite bovine]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Nom" type="Libelle80" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DateNaissance" type="xsd:date" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CodeRaceBovin" type="CODERACEBOVINETYPE:TypeCodeRaceBovin" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="Sexe" type="TypeCodeSexe" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PeriodeEnregistrementDonnees" mixed="false">
    <xsd:annotation>
      <xsd:documentation><![CDATA[periode de collecte des donnees]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DateDebutPeriode" type="xsd:date" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DateFinPeriode" type="xsd:date" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceDemande" mixed="false">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Service demande]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Validation" type="Validation" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeService" type="CODETYPEDEMANDETYPE:TypeCodeTypeDemande" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Registration" mixed="false">
    <xsd:annotation>
      <xsd:documentation><![CDATA[Immatriculation]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Identifier" type="Libelle80" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IdentifierType" type="REGISTRATIONIDENTIFIANTTYPE:RegistrationIdentifiantTypeType" minOccurs="1" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndexCDVeauBoucherie" mixed="false">
    <xsd:sequence>
      <xsd:element name="BaseReference" type="Libelle10" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CRvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCRvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DMvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDDMvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="VENTvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDVENTvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="FOSvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDFOSvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IABVvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIABVvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="PCARvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDPCARvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="RDTvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDRDTvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CONFvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCONFvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CECvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCECvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCDCvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CACvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCACvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CCUvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCCUvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CCAvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCCAvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="COULvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCOULvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="GRASvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDGRASvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IABvbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIABvbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndexCDMuscularitePrecoce" mixed="false">
    <xsd:sequence>
      <xsd:element name="BaseReference" type="Libelle10" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="MPv3s" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDMPv3s" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TVv3s" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDTVv3s" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="FOSv3s" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDFOSv3s" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndexCellules" mixed="false">
    <xsd:sequence>
      <xsd:element name="ReferenceIndex" type="Libelle4" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CodeRaceIndexation" type="CODERACEBOVINETYPE:TypeCodeRaceBovin" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIndexCellules" type="Nombre2Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexCellulesElementaire" type="Decimal3_1" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreFillesIndexCellules" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="NombreCheptelsIndexCellules" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeIndex" type="CODETYPEINDEX:TypeCodeTypeIndex" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndexFaciliteVelageNaissance" mixed="false">
    <xsd:sequence>
      <xsd:element name="CodeRaceIndexation" type="CODERACEBOVINETYPE:TypeCodeRaceBovin" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="ReferenceIndex" type="Libelle4" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIndexFaciliteNaissance" type="Nombre2Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexFaciliteNaissance" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIndexFaciliteVelage" type="Nombre2Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IndexFaciliteVelage" type="Nombre6Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="TypeIndex" type="CODETYPEINDEX:TypeCodeTypeIndex" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IndexCDABJeunesBovins" mixed="false">
    <xsd:sequence>
      <xsd:element name="BaseReference" type="Libelle10" minOccurs="1" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CRjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCRjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="VOSjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDVOSjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DMjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDDMjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="DSjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDDSjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="AFjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDAFjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="QRjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDQRjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IABVjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIABVjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="PCARjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDPCARjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="RDTjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDRTDjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CONFjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCONFjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CECjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCECjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCDCjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CACjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCACjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CCUjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCCUjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CCAjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDCCAjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="GRASjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDGRASjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="IABjbs" type="Nombre3Chiffres" minOccurs="0" maxOccurs="1">
      </xsd:element>
      <xsd:element name="CDIABjbs" type="Decimal3_2" minOccurs="0" maxOccurs="1">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>