lib/ekylibre/tele/idele/resources/EchangesEDEFabricants_v105.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Version V105 modifiee le 15/11/2010 -->
<xsd:schema xmlns="http://www.inst-elevage.asso.fr/XML/Schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:COULEUR="urn:fr:agri:elevage:codelist:CodifCouleurCode:1" xmlns:PARTIEMALE="urn:fr:agri:elevage:codelist:CodifPartieMaleCode:1" targetNamespace="http://www.inst-elevage.asso.fr/XML/Schema" version="1.0" xml:lang="fr">
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodifPartieMaleCode:1" schemaLocation="CodifPartieMale.xsd"/>
	<xsd:import namespace="urn:fr:agri:elevage:codelist:CodifCouleurCode:1" schemaLocation="CodifCouleur.xsd"/>
	<xsd:element name="FICOFA">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Issuer"/>
				<xsd:element ref="Owner"/>
				<xsd:element ref="Identification"/>
				<xsd:element ref="Name"/>
				<xsd:element ref="Creation"/>
				<xsd:element ref="EnTest"/>
				<xsd:element ref="LineCount"/>
				<xsd:element ref="DocumentOrigine" minOccurs="0"/>
				<xsd:element ref="Reception" minOccurs="0"/>
				<xsd:element ref="Traitement" minOccurs="0"/>
				<xsd:element ref="CauseNonTraitement" minOccurs="0"/>
				<xsd:element ref="BonCommandeFabricant" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Issuer">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Registration"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Registration">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Identifier"/>
				<xsd:element ref="IdentifierType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Identifier">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IdentifierType">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="CodeFabricant"/>
				<xsd:enumeration value="CodeMOIPG"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Owner">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Registration"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Identification">
		<xsd:simpleType>
			<xsd:restriction base="ChaineSansEsp">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Name">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="12"/>
				<xsd:enumeration value="FICCOMFAB"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Creation">
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="EnTest" type="xsd:boolean"/>
	<xsd:element name="LineCount">
		<xsd:simpleType>
			<xsd:restriction base="xsd:long">
				<xsd:minInclusive value="0"/>
				<xsd:maxInclusive value="99999"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DocumentOrigine">
		<xsd:simpleType>
			<xsd:restriction base="ChaineSansEsp">
				<xsd:maxLength value="40"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Reception" type="xsd:dateTime"/>
	<xsd:element name="Traitement">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="1"/>
				<xsd:enumeration value="O"/>
				<xsd:enumeration value="N"/>
				<xsd:enumeration value="M"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CauseNonTraitement">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="100"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="BonCommandeFabricant">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="IdentifiantBC"/>
				<xsd:element ref="CodeAction"/>
				<xsd:element ref="Createur"/>
				<xsd:element ref="Destinataire"/>
				<xsd:element ref="CodeEspece"/>
				<xsd:element ref="DateCommande"/>
				<xsd:element ref="ReferenceCahierdesCharges"/>
				<xsd:element ref="DateExpeditionBC" minOccurs="0"/>
				<xsd:element ref="Validation" minOccurs="0"/>
				<xsd:element ref="RegroupementLivraison" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Commentaires" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IdentifiantBC">
		<xsd:simpleType>
			<xsd:restriction base="ChaineSansEsp">
				<xsd:maxLength value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CodeAction">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="3"/>
				<xsd:enumeration value="CRE"/>
				<xsd:enumeration value="INF"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Createur">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Immatriculation"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Immatriculation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Identifiant"/>
				<xsd:element ref="TypeIdentifiant"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Identifiant">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="6"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TypeIdentifiant">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="CodeMOIPG"/>
				<xsd:enumeration value="CodeFabricant"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Destinataire">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Immatriculation"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CodeEspece">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="1"/>
				<xsd:enumeration value="B"/>
				<xsd:enumeration value="Z"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DateCommande" type="xsd:date"/>
	<xsd:element name="ReferenceCahierdesCharges">
		<xsd:simpleType>
			<xsd:restriction base="ChaineSansEsp">
				<xsd:length value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DateExpeditionBC" type="xsd:date"/>
	<xsd:element name="RegroupementLivraison">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CodeRegroupementLivraison"/>
				<xsd:element ref="Livraison"/>
				<xsd:element ref="CommandeElementaire" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CommandeElementaire">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NumeroEDE"/>
				<xsd:element ref="NombreReperes"/>
				<xsd:element ref="Destination" minOccurs="0"/>
				<xsd:element ref="LignesCommandeAppariees" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="LigneCommandeUnitaire" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="Colisage" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Commentaires">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="100"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NumeroEDE">
		<xsd:simpleType>
			<xsd:restriction base="ChaineSansEsp">
				<xsd:length value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NombreReperes">
		<xsd:simpleType>
			<xsd:restriction base="xsd:long">
				<xsd:minInclusive value="0"/>
				<xsd:maxInclusive value="99999"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CodeRegroupementLivraison">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LigneCommandeUnitaire">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Quantite"/>
				<xsd:element ref="CodeProduitIE"/>
				<xsd:choice>
					<xsd:element ref="Accessoire" minOccurs="0"/>
					<xsd:element ref="SerieRepereBovin" minOccurs="0"/>
					<xsd:element ref="SerieRepereOC05" minOccurs="0"/>
					<xsd:element ref="SerieRepereOC97" minOccurs="0"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LignesCommandeAppariees">
		<xsd:complexType>
			<xsd:sequence minOccurs="2" maxOccurs="2">
				<xsd:element ref="LigneCommandeUnitaire"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Destination">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NomOrganisation"/>
				<xsd:element ref="NumTelephone" minOccurs="0"/>
				<xsd:element ref="Adresse"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Adresse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Adresse1" minOccurs="0"/>
				<xsd:element ref="Adresse2"/>
				<xsd:element ref="CodePostal"/>
				<xsd:element ref="Localite"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Adresse1">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="38"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Adresse2">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="38"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CodePostal">
		<xsd:simpleType>
			<xsd:restriction base="ChaineNumerique">
				<xsd:length value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Localite">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Livraison">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NomOrganisation"/>
				<xsd:element ref="NumTelephone" minOccurs="0"/>
				<xsd:element ref="Adresse"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Colisage">
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="DateExpedition"/>
				<xsd:element ref="NombreColis"/>
				<xsd:element ref="ReferenceColis" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DateExpedition" type="xsd:date"/>
	<xsd:element name="NombreColis">
		<xsd:simpleType>
			<xsd:restriction base="xsd:long">
				<xsd:minInclusive value="0"/>
				<xsd:maxInclusive value="99"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ReferenceColis">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NumeroColis"/>
				<xsd:element ref="QuantiteBoucles"/>
				<xsd:element ref="Commentaires" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NumeroColis">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NomOrganisation">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="38"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NumTelephone">
		<xsd:simpleType>
			<xsd:restriction base="ChaineNumerique">
				<xsd:length value="10"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Quantite">
		<xsd:simpleType>
			<xsd:restriction base="xsd:long">
				<xsd:minInclusive value="0"/>
				<xsd:maxInclusive value="9999"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="QuantiteBoucles">
		<xsd:simpleType>
			<xsd:restriction base="xsd:long">
				<xsd:minInclusive value="0"/>
				<xsd:maxInclusive value="9999"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CodeProduitIE">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="6"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="Accessoire">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TypeAccessoire"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TypeAccessoire">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="2"/>
				<xsd:enumeration value="PI"/>
				<xsd:enumeration value="PO"/>
				<xsd:enumeration value="CM"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerieRepereOC97">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="NumeroExploitation"/>
				<xsd:element ref="PremierNumeroOrdre"/>
				<xsd:element ref="CodeComplementaire" minOccurs="0"/>
				<xsd:element ref="PartieMale"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CodeComplementaire">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="8"/>
				<xsd:enumeration value="R"/>
				<xsd:enumeration value="ECHANGE"/>
				<xsd:enumeration value="IMPORT"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="SerieRepereOC05">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CodePays"/>
				<xsd:element ref="CodePaysISO" minOccurs="0"/>
				<xsd:element ref="CodePaysOrigine" minOccurs="0"/>
				<xsd:element ref="IndicatifMarquage" minOccurs="0"/>
				<xsd:element ref="PremierNumeroOrdre" minOccurs="0"/>
				<xsd:element ref="NumeroRebouclage" minOccurs="0"/>
				<xsd:element ref="NombreExemplairesRepere" minOccurs="0"/>
				<xsd:element ref="CompteurRemplacement" minOccurs="0"/>
				<xsd:element ref="PartieMale" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SerieRepereBovin">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CodePays" minOccurs="0"/>
				<xsd:element ref="NumeroSerieFixe" minOccurs="0"/>
				<xsd:element ref="NumeroSerieIncrement" minOccurs="0"/>
				<xsd:element ref="PremierCodeBarre" minOccurs="0"/>
				<xsd:element ref="PremierNumeroNational" minOccurs="0"/>
				<xsd:element ref="PremierNumeroTravail" minOccurs="0"/>
				<xsd:element ref="NumeroExploitationNaissance" minOccurs="0"/>
				<xsd:element ref="NombreExemplairesRepere" minOccurs="0"/>
				<xsd:element ref="CompteurRemplacement" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CodePays">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CodePaysISO">
		<xsd:simpleType>
			<xsd:restriction base="ChaineNumerique">
				<xsd:length value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NumeroSerieFixe">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NumeroSerieIncrement">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PremierCodeBarre">
		<xsd:simpleType>
			<xsd:restriction base="ChaineNumeriqueAvecEsp">
				<xsd:length value="15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PremierNumeroNational" type="xsd:string"/>
	<xsd:element name="PremierNumeroTravail">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NumeroExploitationNaissance">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NombreExemplairesRepere">
		<xsd:simpleType>
			<xsd:restriction base="xsd:byte">
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="2"/>
				<xsd:enumeration value="1"/>
				<xsd:enumeration value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CompteurRemplacement">
		<xsd:simpleType>
			<xsd:restriction base="xsd:byte">
				<xsd:minInclusive value="0"/>
				<xsd:maxInclusive value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NumeroExploitation">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="CodePaysOrigine">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IndicatifMarquage">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="6"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PremierNumeroOrdre">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="NumeroRebouclage">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="13"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PartieMale">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Couleur"/>
				<xsd:element ref="CodifPartieMale"/>
				<xsd:element ref="Marquage1" minOccurs="0"/>
				<xsd:element ref="IncremMarqu1" minOccurs="0"/>
				<xsd:element ref="Marquage2" minOccurs="0"/>
				<xsd:element ref="IncremMarqu2" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Couleur" type="COULEUR:CodifCouleurCode"/>
	<xsd:element name="CodifPartieMale" type="PARTIEMALE:CodifPartieMaleCode"/>
	<xsd:element name="Marquage1">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="6"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncremMarqu1" type="xsd:boolean"/>
	<xsd:element name="Marquage2">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="6"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IncremMarqu2" type="xsd:boolean"/>
	<xsd:element name="Validation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Qualification"/>
				<xsd:element ref="Anomalie" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Qualification" type="xsd:boolean"/>
	<xsd:element name="Anomalie">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CodeAnomalie"/>
				<xsd:element ref="TypeAnomalie"/>
				<xsd:element ref="LibelleAnomalie"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CodeAnomalie">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:length value="4"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TypeAnomalie">
		<xsd:simpleType>
			<xsd:restriction base="xsd:byte">
				<xsd:minInclusive value="1"/>
				<xsd:maxInclusive value="5"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="LibelleAnomalie">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="100"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:simpleType name="ChaineSansEsp">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[^\s-]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChaineNumerique">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChaineNumeriqueAvecEsp">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9\s]*"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
