lib/ekylibre/tele/idele/resources/XMLSchemaVI-20110526.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Fabrice (frsoft) -->
<xs:schema xmlns="http://tempuri.org/XMLSchemaVI.xsd" xmlns:mstns="http://tempuri.org/XMLSchemaVI.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" targetNamespace="http://tempuri.org/XMLSchemaVI.xsd" elementFormDefault="qualified" id="XMLSchemaVI">
	<xs:element name="VI">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MICRO" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="COORGA" type="xs:string"/>
							<xs:element name="NUMPOS" type="xs:string"/>
							<xs:element name="CHEPTEL" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="COPACH" type="xs:string"/>
										<xs:element name="NUCHEP" type="xs:string"/>
										<xs:element name="IDCHEPTEL">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CHEPID">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="COPACH" type="xs:string"/>
																<xs:element name="NUCHEP" type="xs:string"/>
																<xs:element name="COPOST" type="xs:string" minOccurs="0"/>
																<xs:element name="NUDEPA" type="xs:string" minOccurs="0"/>
																<xs:element name="NUCOMM" type="xs:string" minOccurs="0"/>
																<xs:element name="ADRES1" type="xs:string" minOccurs="0"/>
																<xs:element name="ADRES2" type="xs:string" minOccurs="0"/>
																<xs:element name="TYEXPL" type="xs:string" minOccurs="0"/>
																<xs:element name="COTYEI" type="xs:string" minOccurs="0"/>
																<xs:element name="DCRE" type="xs:dateTime"/>
																<xs:element name="DMAJ" type="xs:dateTime"/>
																<xs:element name="COOC" type="xs:string"/>
																<xs:element name="COSI" type="xs:string"/>
																<xs:element name="COSU" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="CHEPCO">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="COPACH" type="xs:string"/>
																<xs:element name="NUCHEP" type="xs:string"/>
																<xs:element name="DADECO" type="xs:dateTime"/>
																<xs:element name="NUDETE" type="xs:string"/>
																<xs:element name="DAFICO" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="COSICO" type="xs:string"/>
																<xs:element name="DCRE" type="xs:dateTime"/>
																<xs:element name="DMAJ" type="xs:dateTime"/>
																<xs:element name="COOC" type="xs:string"/>
																<xs:element name="COSI" type="xs:string"/>
																<xs:element name="COSU" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
											<xs:unique name="IDCHEPTELKeyCHEPID">
												<xs:selector xpath=".//mstns:CHEPID"/>
												<xs:field xpath="mstns:COPACH"/>
												<xs:field xpath="mstns:NUCHEP"/>
											</xs:unique>
											<xs:unique name="VIKeyCHEPCO">
												<xs:selector xpath=".//mstns:CHEPCO"/>
												<xs:field xpath="mstns:COPACH"/>
												<xs:field xpath="mstns:NUCHEP"/>
												<xs:field xpath="mstns:DADECO"/>
											</xs:unique>
										</xs:element>
										<xs:element name="PERSONNE">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PERSID">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="NUPERS" type="xs:string"/>
																<xs:element name="SICIVI" type="xs:string" minOccurs="0"/>
																<xs:element name="COPOST" type="xs:string" minOccurs="0"/>
																<xs:element name="NUDEPA" type="xs:string" minOccurs="0"/>
																<xs:element name="NUCOMM" type="xs:string" minOccurs="0"/>
																<xs:element name="NORASO" type="xs:string" minOccurs="0"/>
																<xs:element name="PRENOM" type="xs:string" minOccurs="0"/>
																<xs:element name="ADRES1" type="xs:string" minOccurs="0"/>
																<xs:element name="ADRES2" type="xs:string" minOccurs="0"/>
																<xs:element name="NUTELE" type="xs:string" minOccurs="0"/>
																<xs:element name="NUSIPE" type="xs:string" minOccurs="0"/>
																<xs:element name="COPRED" type="xs:string" minOccurs="0"/>
																<xs:element name="COPPER" type="xs:string" minOccurs="0"/>
																<xs:element name="NUNPER" type="xs:string" minOccurs="0"/>
																<xs:element name="DCRE" type="xs:dateTime"/>
																<xs:element name="DMAJ" type="xs:dateTime"/>
																<xs:element name="COOC" type="xs:string"/>
																<xs:element name="COSI" type="xs:string"/>
																<xs:element name="COSU" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
											<xs:unique name="PERSONNEKeyPERSID">
												<xs:selector xpath=".//mstns:PERSID"/>
												<xs:field xpath="mstns:NUPERS"/>
											</xs:unique>
										</xs:element>
										<xs:element name="CONTRAT">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CONTCL" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="COPACH" type="xs:string"/>
																<xs:element name="NUCHEP" type="xs:string"/>
																<xs:element name="DADCCL" type="xs:dateTime"/>
																<xs:element name="COLAIT" type="xs:string" minOccurs="0"/>
																<xs:element name="NOLAIT" type="xs:string" minOccurs="0"/>
																<xs:element name="PROTCL" type="xs:string"/>
																<xs:element name="COORGA" type="xs:string"/>
																<xs:element name="MODECH" type="xs:string" minOccurs="0"/>
																<xs:element name="NBPASS" type="xs:decimal" minOccurs="0"/>
																<xs:element name="DAFCCL" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="SECHCL" type="xs:string" minOccurs="0"/>
																<xs:element name="NURECA" type="xs:string" minOccurs="0"/>
																<xs:element name="NOTRQU" type="xs:string" minOccurs="0"/>
																<xs:element name="DCRE" type="xs:dateTime"/>
																<xs:element name="DMAJ" type="xs:dateTime"/>
																<xs:element name="COOC" type="xs:string"/>
																<xs:element name="COTE" type="xs:string"/>
																<xs:element name="COSU" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="CONTEC" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="COPACH" type="xs:string"/>
																<xs:element name="NUCHEP" type="xs:string"/>
																<xs:element name="DADCEC" type="xs:dateTime"/>
																<xs:element name="COORGA" type="xs:string"/>
																<xs:element name="GEFIPA" type="xs:string" minOccurs="0"/>
																<xs:element name="DAFCEC" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="DCRE" type="xs:dateTime"/>
																<xs:element name="DMAJ" type="xs:dateTime"/>
																<xs:element name="COOC" type="xs:string"/>
																<xs:element name="COTE" type="xs:string"/>
																<xs:element name="COSU" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="COATCA" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="COPACH" type="xs:string"/>
																<xs:element name="NUCHEP" type="xs:string"/>
																<xs:element name="SICIVI" type="xs:string" minOccurs="0"/>
																<xs:element name="NORASO" type="xs:string" minOccurs="0"/>
																<xs:element name="PRENOM" type="xs:string" minOccurs="0"/>
																<xs:element name="NUTELE" type="xs:string" minOccurs="0"/>
																<xs:element name="NUMFAX" type="xs:string" minOccurs="0"/>
																<xs:element name="MAPERS" type="xs:string" minOccurs="0"/>
																<xs:element name="DCRE" type="xs:dateTime"/>
																<xs:element name="DMAJ" type="xs:dateTime"/>
																<xs:element name="COOC" type="xs:string"/>
																<xs:element name="COTE" type="xs:string"/>
																<xs:element name="COSU" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
											<xs:unique name="CONTRATKeyCONTCL">
												<xs:selector xpath=".//mstns:CONTCL"/>
												<xs:field xpath="mstns:COPACH"/>
												<xs:field xpath="mstns:NUCHEP"/>
												<xs:field xpath="mstns:DADCCL"/>
											</xs:unique>
											<xs:unique name="CONTRATKeyCONTEC">
												<xs:selector xpath=".//mstns:CONTEC"/>
												<xs:field xpath="mstns:COPACH"/>
												<xs:field xpath="mstns:NUCHEP"/>
												<xs:field xpath="mstns:DADCEC"/>
											</xs:unique>
											<xs:unique name="CONTRATKeyCOATCA">
												<xs:selector xpath=".//mstns:COATCA"/>
												<xs:field xpath="mstns:COPACH"/>
												<xs:field xpath="mstns:NUCHEP"/>
											</xs:unique>
										</xs:element>
										<xs:element name="PASSAGE" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PASEXP" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="COPACH" type="xs:string"/>
																<xs:element name="NUCHEP" type="xs:string"/>
																<xs:element name="DACOCH" type="xs:dateTime"/>
																<xs:element name="NUECHA" type="xs:string" minOccurs="0"/>
																<xs:element name="QUAVTR" type="xs:decimal" minOccurs="0"/>
																<xs:element name="QUAPTR" type="xs:decimal" minOccurs="0"/>
																<xs:element name="NOTRTA" type="xs:short" minOccurs="0"/>
																<xs:element name="EFAVTR" type="xs:short" minOccurs="0"/>
																<xs:element name="EFAPTR" type="xs:short" minOccurs="0"/>
																<xs:element name="KICOEF" type="xs:decimal" minOccurs="0"/>
																<xs:element name="KIVALL" type="xs:string" minOccurs="0"/>
																<xs:element name="TB1AVT" type="xs:decimal" minOccurs="0"/>
																<xs:element name="TB1APT" type="xs:decimal" minOccurs="0"/>
																<xs:element name="TP1AVT" type="xs:decimal" minOccurs="0"/>
																<xs:element name="TP1APT" type="xs:decimal" minOccurs="0"/>
																<xs:element name="TB2AVT" type="xs:decimal" minOccurs="0"/>
																<xs:element name="TB2APT" type="xs:decimal" minOccurs="0"/>
																<xs:element name="TP2AVT" type="xs:decimal" minOccurs="0"/>
																<xs:element name="TP2APT" type="xs:decimal" minOccurs="0"/>
																<xs:element name="TETRMA" type="xs:string" minOccurs="0"/>
																<xs:element name="TETRSO" type="xs:string" minOccurs="0"/>
																<xs:element name="TECHAM" type="xs:string" minOccurs="0"/>
																<xs:element name="TECHAS" type="xs:string" minOccurs="0"/>
																<xs:element name="TECHAQ" type="xs:string" minOccurs="0"/>
																<xs:element name="HEDETM" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="HEFITM" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="HEDETS" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="HEFITS" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="ORTE1M" type="xs:string" minOccurs="0"/>
																<xs:element name="COTE1M" type="xs:string" minOccurs="0"/>
																<xs:element name="ORTE2M" type="xs:string" minOccurs="0"/>
																<xs:element name="COTE2M" type="xs:string" minOccurs="0"/>
																<xs:element name="ORTE3M" type="xs:string" minOccurs="0"/>
																<xs:element name="COTE3M" type="xs:string" minOccurs="0"/>
																<xs:element name="ORTE4M" type="xs:string" minOccurs="0"/>
																<xs:element name="COTE4M" type="xs:string" minOccurs="0"/>
																<xs:element name="ORTE5M" type="xs:string" minOccurs="0"/>
																<xs:element name="COTE5M" type="xs:string" minOccurs="0"/>
																<xs:element name="ORTE1S" type="xs:string" minOccurs="0"/>
																<xs:element name="COTE1S" type="xs:string" minOccurs="0"/>
																<xs:element name="ORTE2S" type="xs:string" minOccurs="0"/>
																<xs:element name="COTE2S" type="xs:string" minOccurs="0"/>
																<xs:element name="ORTE3S" type="xs:string" minOccurs="0"/>
																<xs:element name="COTE3S" type="xs:string" minOccurs="0"/>
																<xs:element name="ORTE4S" type="xs:string" minOccurs="0"/>
																<xs:element name="COTE4S" type="xs:string" minOccurs="0"/>
																<xs:element name="ORTE5S" type="xs:string" minOccurs="0"/>
																<xs:element name="COTE5S" type="xs:string" minOccurs="0"/>
																<xs:element name="ECHTAV" type="xs:short" minOccurs="0"/>
																<xs:element name="ECHTAP" type="xs:short" minOccurs="0"/>
																<xs:element name="RF1AVT" type="xs:string" minOccurs="0"/>
																<xs:element name="RF1APT" type="xs:string" minOccurs="0"/>
																<xs:element name="RF2AVT" type="xs:string" minOccurs="0"/>
																<xs:element name="RF2APT" type="xs:string" minOccurs="0"/>
																<xs:element name="VALPAS" type="xs:string" minOccurs="0"/>
																<xs:element name="NOTRQU" type="xs:string" minOccurs="0"/>
																<xs:element name="DCRE" type="xs:dateTime"/>
																<xs:element name="DMAJ" type="xs:dateTime"/>
																<xs:element name="COOC" type="xs:string"/>
																<xs:element name="COTE" type="xs:string"/>
																<xs:element name="COSU" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
											<xs:unique name="PASSAGEKeyPASEXP">
												<xs:selector xpath=".//mstns:PASEXP"/>
												<xs:field xpath="mstns:COPACH"/>
												<xs:field xpath="mstns:NUCHEP"/>
												<xs:field xpath="mstns:DACOCH"/>
											</xs:unique>
										</xs:element>
										<xs:element name="ANIMAUX" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ANIMAL" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="IDENTIFICATION">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CAPRIN">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="COPACA" type="xs:string"/>
																						<xs:element name="NUNACA" type="xs:string"/>
																						<xs:element name="COPANA" type="xs:string" minOccurs="0"/>
																						<xs:element name="NUCHNA" type="xs:string" minOccurs="0"/>
																						<xs:element name="COPADE" type="xs:string" minOccurs="0"/>
																						<xs:element name="NUCHDE" type="xs:string" minOccurs="0"/>
																						<xs:element name="CORACA" type="xs:string"/>
																						<xs:element name="CORAGE" type="xs:string" minOccurs="0"/>
																						<xs:element name="SEANIM" type="xs:string"/>
																						<xs:element name="COANIM" type="xs:string" minOccurs="0"/>
																						<xs:element name="DANACA" type="xs:dateTime"/>
																						<xs:element name="DANACV" type="xs:string"/>
																						<xs:element name="NOANIM" type="xs:string" minOccurs="0"/>
																						<xs:element name="NUTRAV" type="xs:string" minOccurs="0"/>
																						<xs:element name="MIANIM" type="xs:string"/>
																						<xs:element name="IDELCA" type="xs:string" minOccurs="0"/>
																						<xs:element name="TECHAT" type="xs:string" minOccurs="0"/>
																						<xs:element name="COPAME" type="xs:string" minOccurs="0"/>
																						<xs:element name="NUMEGE" type="xs:string" minOccurs="0"/>
																						<xs:element name="COPAPE" type="xs:string" minOccurs="0"/>
																						<xs:element name="NUPERE" type="xs:string" minOccurs="0"/>
																						<xs:element name="TEVAME" type="xs:string" minOccurs="0"/>
																						<xs:element name="TEVAPE" type="xs:string" minOccurs="0"/>
																						<xs:element name="CRIDET" type="xs:string"/>
																						<xs:element name="TEARCH" type="xs:string" minOccurs="0"/>
																						<xs:element name="DOPRIA" type="xs:string" minOccurs="0"/>
																						<xs:element name="DCRE" type="xs:dateTime"/>
																						<xs:element name="DMAJ" type="xs:dateTime"/>
																						<xs:element name="COOC" type="xs:string"/>
																						<xs:element name="COTE" type="xs:string"/>
																						<xs:element name="COSU" type="xs:string"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="MOUCAP" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="COPACA" type="xs:string"/>
																						<xs:element name="NUNACA" type="xs:string"/>
																						<xs:element name="DGMOCH" type="xs:dateTime"/>
																						<xs:element name="COPACH" type="xs:string"/>
																						<xs:element name="NUCHEP" type="xs:string"/>
																						<xs:element name="DAMOCH" type="xs:dateTime"/>
																						<xs:element name="TEDAMO" type="xs:string"/>
																						<xs:element name="TYMOCH" type="xs:string"/>
																						<xs:element name="CAMOCH" type="xs:string" minOccurs="0"/>
																						<xs:element name="TYACTE" type="xs:string" minOccurs="0"/>
																						<xs:element name="COPAAC" type="xs:string" minOccurs="0"/>
																						<xs:element name="NUACTE" type="xs:string" minOccurs="0"/>
																						<xs:element name="VACOMP" type="xs:int" minOccurs="0"/>
																						<xs:element name="VAFISC" type="xs:int" minOccurs="0"/>
																						<xs:element name="DCRE" type="xs:dateTime"/>
																						<xs:element name="DMAJ" type="xs:dateTime"/>
																						<xs:element name="COOC" type="xs:string"/>
																						<xs:element name="COTE" type="xs:string"/>
																						<xs:element name="COSU" type="xs:string"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="RELECT" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="COPACA" type="xs:string"/>
																						<xs:element name="NUNACA" type="xs:string"/>
																						<xs:element name="RELECA" type="xs:string"/>
																						<xs:element name="DADEAT" type="xs:dateTime"/>
																						<xs:element name="DAFIAT" type="xs:dateTime" minOccurs="0"/>
																						<xs:element name="DCRE" type="xs:dateTime"/>
																						<xs:element name="DMAJ" type="xs:dateTime"/>
																						<xs:element name="COOC" type="xs:string"/>
																						<xs:element name="COTE" type="xs:string"/>
																						<xs:element name="COSU" type="xs:string"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="INDICA">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="COPACA" type="xs:string"/>
																						<xs:element name="NUNACA" type="xs:string"/>
																						<xs:element name="COPACH" type="xs:string"/>
																						<xs:element name="NUCHEP" type="xs:string"/>
																						<xs:element name="NUORCL" type="xs:short" minOccurs="0"/>
																						<xs:element name="NULOTR" type="xs:short" minOccurs="0"/>
																						<xs:element name="NULOPH" type="xs:short" minOccurs="0"/>
																						<xs:element name="NUORSA" type="xs:short" minOccurs="0"/>
																						<xs:element name="CRSPT1" type="xs:string" minOccurs="0"/>
																						<xs:element name="CRSPT2" type="xs:string" minOccurs="0"/>
																						<xs:element name="COSICO" type="xs:string" minOccurs="0"/>
																						<xs:element name="FICAED" type="xs:string" minOccurs="0"/>
																						<xs:element name="DCRE" type="xs:dateTime"/>
																						<xs:element name="DMAJ" type="xs:dateTime"/>
																						<xs:element name="COOC" type="xs:string"/>
																						<xs:element name="COTE" type="xs:string"/>
																						<xs:element name="COSU" type="xs:string"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																	<xs:unique name="IDENTIFICATIONKeyCAPRIN">
																		<xs:selector xpath=".//mstns:CAPRIN"/>
																		<xs:field xpath="mstns:COPACA"/>
																		<xs:field xpath="mstns:NUNACA"/>
																	</xs:unique>
																	<xs:unique name="IDENTIFICATIONKeyMOUCAP">
																		<xs:selector xpath=".//mstns:MOUCAP"/>
																		<xs:field xpath="mstns:COPACA"/>
																		<xs:field xpath="mstns:NUNACA"/>
																		<xs:field xpath="mstns:DGMOCH"/>
																	</xs:unique>
																	<xs:unique name="IDENTIFICATIONKeyRELECT">
																		<xs:selector xpath=".//mstns:RELECT"/>
																		<xs:field xpath="mstns:COPACA"/>
																		<xs:field xpath="mstns:NUNACA"/>
																		<xs:field xpath="mstns:RELECA"/>
																		<xs:field xpath="mstns:DADEAT"/>
																	</xs:unique>
																	<xs:unique name="IDENTIFICATIONKeyINDICA">
																		<xs:selector xpath=".//mstns:INDICA"/>
																		<xs:field xpath="mstns:COPACA"/>
																		<xs:field xpath="mstns:NUNACA"/>
																		<xs:field xpath="mstns:COPACH"/>
																		<xs:field xpath="mstns:NUCHEP"/>
																	</xs:unique>
																</xs:element>
																<xs:element name="INDEX" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="NIVCLS" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="COPACA" type="xs:string"/>
																						<xs:element name="NUNACA" type="xs:string"/>
																						<xs:element name="NULACT" type="xs:short"/>
																						<xs:element name="COPACH" type="xs:string"/>
																						<xs:element name="NUCHEP" type="xs:string"/>
																						<xs:element name="NIVLAI" type="xs:string" minOccurs="0"/>
																						<xs:element name="NIVGRA" type="xs:string" minOccurs="0"/>
																						<xs:element name="NIVPRO" type="xs:string" minOccurs="0"/>
																						<xs:element name="CANOC1" type="xs:string" minOccurs="0"/>
																						<xs:element name="ESTILA" type="xs:string" minOccurs="0"/>
																						<xs:element name="CANOC2" type="xs:string" minOccurs="0"/>
																						<xs:element name="DCRE" type="xs:dateTime"/>
																						<xs:element name="DMAJ" type="xs:dateTime"/>
																						<xs:element name="COOC" type="xs:string"/>
																						<xs:element name="COTE" type="xs:string"/>
																						<xs:element name="COSU" type="xs:string"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																	<xs:unique name="INDEXKeyNIVCLS">
																		<xs:selector xpath=".//mstns:NIVCLS"/>
																		<xs:field xpath="mstns:COPACA"/>
																		<xs:field xpath="mstns:NUNACA"/>
																		<xs:field xpath="mstns:NULACT"/>
																	</xs:unique>
																</xs:element>
																<xs:element name="PRODUCTION" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PRQUOT" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="COPACA" type="xs:string"/>
																						<xs:element name="NUNACA" type="xs:string"/>
																						<xs:element name="DACOCH" type="xs:dateTime"/>
																						<xs:element name="COPACH" type="xs:string"/>
																						<xs:element name="NUCHEP" type="xs:string"/>
																						<xs:element name="NULACT" type="xs:short"/>
																						<xs:element name="NUCOLO" type="xs:short"/>
																						<xs:element name="COETFE" type="xs:string"/>
																						<xs:element name="ETOBLA" type="xs:string"/>
																						<xs:element name="CANOCO" type="xs:string" minOccurs="0"/>
																						<xs:element name="NUECJO" type="xs:short" minOccurs="0"/>
																						<xs:element name="NUECMA" type="xs:short" minOccurs="0"/>
																						<xs:element name="NUECSO" type="xs:short" minOccurs="0"/>
																						<xs:element name="NURFJO" type="xs:string" minOccurs="0"/>
																						<xs:element name="NURFMA" type="xs:string" minOccurs="0"/>
																						<xs:element name="NURFSO" type="xs:string" minOccurs="0"/>
																						<xs:element name="LAJOUR" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="LAMATI" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="LASOIR" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="CESOMO" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="CESOMA" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="CESOSO" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="TBLACO" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="TBLAMA" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="TBLASO" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="TPLACO" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="TPLAMA" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="TPLASO" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="CABTAL" type="xs:string" minOccurs="0"/>
																						<xs:element name="CABTAM" type="xs:string" minOccurs="0"/>
																						<xs:element name="CABTAS" type="xs:string" minOccurs="0"/>
																						<xs:element name="URLACO" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="URLAMA" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="URLASO" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="DCRE" type="xs:dateTime"/>
																						<xs:element name="DMAJ" type="xs:dateTime"/>
																						<xs:element name="COOC" type="xs:string"/>
																						<xs:element name="COTE" type="xs:string"/>
																						<xs:element name="COSU" type="xs:string"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="LACUMU" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="COPACA" type="xs:string"/>
																						<xs:element name="NUNACA" type="xs:string"/>
																						<xs:element name="NULACT" type="xs:short"/>
																						<xs:element name="TESTLA" type="xs:string"/>
																						<xs:element name="DADELA" type="xs:dateTime"/>
																						<xs:element name="LAPRNC" type="xs:string"/>
																						<xs:element name="CODELA" type="xs:string"/>
																						<xs:element name="DATARI" type="xs:dateTime" minOccurs="0"/>
																						<xs:element name="TEDATA" type="xs:string" minOccurs="0"/>
																						<xs:element name="DUPALA" type="xs:short" minOccurs="0"/>
																						<xs:element name="LACULA" type="xs:int" minOccurs="0"/>
																						<xs:element name="MGCULA" type="xs:int" minOccurs="0"/>
																						<xs:element name="MPCULA" type="xs:int" minOccurs="0"/>
																						<xs:element name="NBCOLA" type="xs:short" minOccurs="0"/>
																						<xs:element name="NBCOTA" type="xs:short" minOccurs="0"/>
																						<xs:element name="LA100L" type="xs:int" minOccurs="0"/>
																						<xs:element name="MG100L" type="xs:int" minOccurs="0"/>
																						<xs:element name="MP100L" type="xs:int" minOccurs="0"/>
																						<xs:element name="DURERA" type="xs:short" minOccurs="0"/>
																						<xs:element name="LARELA" type="xs:int" minOccurs="0"/>
																						<xs:element name="MGRELA" type="xs:int" minOccurs="0"/>
																						<xs:element name="MPRELA" type="xs:int" minOccurs="0"/>
																						<xs:element name="CANOLA" type="xs:string" minOccurs="0"/>
																						<xs:element name="CANOMG" type="xs:string" minOccurs="0"/>
																						<xs:element name="CANOMP" type="xs:string" minOccurs="0"/>
																						<xs:element name="CAN100" type="xs:string" minOccurs="0"/>
																						<xs:element name="CLCESO" type="xs:string" minOccurs="0"/>
																						<xs:element name="TECHIN" type="xs:string" minOccurs="0"/>
																						<xs:element name="PROTCL" type="xs:string" minOccurs="0"/>
																						<xs:element name="NIVDEM" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="DCRE" type="xs:dateTime"/>
																						<xs:element name="DMAJ" type="xs:dateTime"/>
																						<xs:element name="COOC" type="xs:string"/>
																						<xs:element name="COTE" type="xs:string"/>
																						<xs:element name="COSU" type="xs:string"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																	<xs:unique name="PRODUCTIONKeyPRQUOT">
																		<xs:selector xpath=".//mstns:PRQUOT"/>
																		<xs:field xpath="mstns:COPACA"/>
																		<xs:field xpath="mstns:NUNACA"/>
																		<xs:field xpath="mstns:DACOCH"/>
																	</xs:unique>
																	<xs:unique name="PRODUCTIONKeyLACUMU">
																		<xs:selector xpath=".//mstns:LACUMU"/>
																		<xs:field xpath="mstns:COPACA"/>
																		<xs:field xpath="mstns:NUNACA"/>
																		<xs:field xpath="mstns:NULACT"/>
																	</xs:unique>
																</xs:element>
																<xs:element name="REPRODUCTION" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="REPROD" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="COPACA" type="xs:string"/>
																						<xs:element name="NUNACA" type="xs:string"/>
																						<xs:element name="DADESA" type="xs:dateTime"/>
																						<xs:element name="COPABO" type="xs:string" minOccurs="0"/>
																						<xs:element name="NUNABO" type="xs:string" minOccurs="0"/>
																						<xs:element name="COBOIA" type="xs:string" minOccurs="0"/>
																						<xs:element name="COPACH" type="xs:string"/>
																						<xs:element name="NUCHEP" type="xs:string"/>
																						<xs:element name="DAFISA" type="xs:dateTime" minOccurs="0"/>
																						<xs:element name="TYREPR" type="xs:string"/>
																						<xs:element name="TRSYNC" type="xs:string" minOccurs="0"/>
																						<xs:element name="COCEIA" type="xs:string" minOccurs="0"/>
																						<xs:element name="IDAGIA" type="xs:string" minOccurs="0"/>
																						<xs:element name="HEPRIN" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="QUALIA" type="xs:string" minOccurs="0"/>
																						<xs:element name="REPAIL" type="xs:string" minOccurs="0"/>
																						<xs:element name="DCRE" type="xs:dateTime"/>
																						<xs:element name="DMAJ" type="xs:dateTime"/>
																						<xs:element name="COOC" type="xs:string"/>
																						<xs:element name="COTE" type="xs:string"/>
																						<xs:element name="COSU" type="xs:string"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																	<xs:unique name="REPRODUCTIONKeyREPROD">
																		<xs:selector xpath=".//mstns:REPROD"/>
																		<xs:field xpath="mstns:COPACA"/>
																		<xs:field xpath="mstns:NUNACA"/>
																		<xs:field xpath="mstns:DADESA"/>
																	</xs:unique>
																</xs:element>
																<xs:element name="FIN_GESTATION" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="FINGES" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="COPACA" type="xs:string"/>
																						<xs:element name="NUNACA" type="xs:string"/>
																						<xs:element name="DAFIGE" type="xs:dateTime"/>
																						<xs:element name="COPACH" type="xs:string"/>
																						<xs:element name="NUCHEP" type="xs:string"/>
																						<xs:element name="COMIBA" type="xs:string"/>
																						<xs:element name="TAPORT" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="NOANMO" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="NOANEL" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="NOANBO" type="xs:decimal" minOccurs="0"/>
																						<xs:element name="DAREFE" type="xs:dateTime" minOccurs="0"/>
																						<xs:element name="DCRE" type="xs:dateTime"/>
																						<xs:element name="DMAJ" type="xs:dateTime"/>
																						<xs:element name="COOC" type="xs:string"/>
																						<xs:element name="COTE" type="xs:string"/>
																						<xs:element name="COSU" type="xs:string"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																	<xs:unique name="FIN_GESTATIONKeyFINGES">
																		<xs:selector xpath=".//mstns:FINGES"/>
																		<xs:field xpath="mstns:COPACA"/>
																		<xs:field xpath="mstns:NUNACA"/>
																		<xs:field xpath="mstns:DAFIGE"/>
																	</xs:unique>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TRANSFERTS" minOccurs="0">
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:element name="AGREGA" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="DACAGR" type="xs:dateTime"/>
																<xs:element name="NUMSEQ" type="xs:int"/>
																<xs:element name="AGREGA" type="xs:string"/>
																<xs:element name="COFONC" type="xs:string"/>
																<xs:element name="COACFO" type="xs:string"/>
																<xs:element name="COPACA" type="xs:string" minOccurs="0"/>
																<xs:element name="NUNACA" type="xs:string" minOccurs="0"/>
																<xs:element name="COPACH" type="xs:string" minOccurs="0"/>
																<xs:element name="NUCHEP" type="xs:string" minOccurs="0"/>
																<xs:element name="STATRT" type="xs:string" minOccurs="0"/>
																<xs:element name="DAEXTM" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="DARETR" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="DCRE" type="xs:dateTime"/>
																<xs:element name="DMAJ" type="xs:dateTime"/>
																<xs:element name="COOC" type="xs:string"/>
																<xs:element name="COTE" type="xs:string"/>
																<xs:element name="COSU" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
											<xs:unique name="TRANSFERTSKeyAGREGA">
												<xs:selector xpath=".//mstns:AGREGA"/>
												<xs:field xpath="mstns:DACAGR"/>
												<xs:field xpath="mstns:NUMSEQ"/>
											</xs:unique>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
					<xs:unique name="VIKeyCHEPTEL">
						<xs:selector xpath=".//mstns:CHEPTEL"/>
						<xs:field xpath="mstns:COPACH"/>
						<xs:field xpath="mstns:NUCHEP"/>
					</xs:unique>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="VIKeyMICRO">
			<xs:selector xpath=".//mstns:MICRO"/>
			<xs:field xpath="mstns:COORGA"/>
			<xs:field xpath="mstns:NUMPOS"/>
		</xs:unique>
	</xs:element>
</xs:schema>
